:root {
  box-sizing: border-box;
  font-family: "微软雅黑", "Microsoft Yahei";
  font-size: 16px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.center-block-1400 {
  width: 1400px;
  margin: 0 auto;
}
.posr {
  position: relative;
}
.w680 {
  width: 680px;
}
.w1121 {
  width: 1121px;
}
.h358 {
  height: 358px;
}
.main {
  padding-top: 67px;
}
.main.listpage {
  padding-top: 0;
}
.bor {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}
section + section {
  margin-top: 40px;
}
.bg2 {
  background-color: #f6f6f6;
  padding: 41px 0;
}
.bg2 section + section {
  margin-top: 15px;
}
.bgwhite {
  background-color: #ffffff;
}
/* user style */
header {
  background-image: url("gpfzzx-202412-banner.jpg");
  height: 443px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#time {
  text-align: right;
  padding-right: 122px;
  padding-top: 33px;
  font-size: 16.6px;
}
.hsearch-container {
  position: absolute;
  top: 299px;
  right: 0;
}
.search-bg {
  background-color: #ffffff;
  width: 444px;
  height: 49px;
  border-radius: 22px;
  overflow: hidden;
}
.search-word {
  font-size: 15px;
  color: #adafb0;
  height: 43px;
  border: none;
  outline: none;
  padding-left: 36px;
  margin-top: 3px;
  width: 75%;
}
.search-submit {
  background-color: #06ac05;
  color: #ffffff;
  border-radius: 22px;
  width: 86px;
  height: 43px;
  border: none;
  margin-top: 3px;
  margin-right: 3px;
}
.search-submit img {
  vertical-align: middle;
  margin-right: 2px;
}
nav {
  background-image: url("gpfzzx-202412-navbg.png");
  background-position: center;
  background-size: cover;
  height: 92px;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
}
.nav {
  display: table;
  width: 1356px;
  margin: 0 auto;
}
.nav-item {
  display: table-cell;
  width: 1%;
  table-layout: fixed;
  font-size: 20px;
  color: #ffffff;
  padding-top: 22px;
  line-height: 55px;
  text-align: center;
}
/* carousel */
.slick-mod {
  width: 680px;
  height: 430px;
  border-radius: 3px;
  overflow: hidden;
}
.slick-mod2 {
  width: 1298px;
  height: 136px;
  margin: 0 auto;
  margin-bottom: 51px;
}
.slick-item {
  position: relative;
}
.slick-item img {
  width: 100%;
}
.tit1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: #ffffff;
  line-height: 48px;
  text-indent: 25px;
  background: rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-mod .slick-dots {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.slick-mod .slick-arrow {
  width: 26px;
  height: 52px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
.slick-mod2 .slick-arrow {
  width: 26px;
  height: 52px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
.slick-mod .slick-next {
  right: 0;
  background: url("gpfzzx-202412-arrowright.png") no-repeat center;
}
.slick-mod .slick-prev {
  left: 0;
  background: url("gpfzzx-202412-arrowleft.png") no-repeat center;
}

.slick-mod2 .slick-next {
  right: -42px;
  background: url("gpfzzx-202412-arrowright.jpg") no-repeat center;
}
.slick-mod2 .slick-prev {
  left: -42px;
  background: url("gpfzzx-202412-arrowleft.jpg") no-repeat center;
}
.slick-mod .slick-dots li {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.slick-mod .slick-dots li.slick-active {
  width: 14px;
  height: 14px;
  background: #e50012;
  border-radius: 50%;
}
.slick-mod2 .slick-dots li {
  width: 15px;
  height: 15px;
  background: #d6d6d4;
  border-radius: 50%;
  margin: 17px 11px 0 0;
}
.slick-mod2 .slick-dots li.slick-active {
  width: 15px;
  height: 15px;
  background: #019903;
  border-radius: 50%;
}
/* --- */
.hnews-container {
  height: 430px;
  border-top: 5px solid #018503;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 7px;
}
.hnews-container .hd li {
  float: left;
  width: 184px;
  height: 47px;
  font-size: 23px;
  color: #4b4a4a;
  line-height: 47px;
  text-align: center;
  border-radius: 3px;
  margin-left: 9px;
}
.hnews-container .hd li img {
  vertical-align: middle;
  margin-right: 11px;
  margin-top: -2px;
}
.hd li img.i2 {
  display: none;
}
.hnews-container .hd li.act {
  background-color: #018503;
  color: #ffffff;
}
.hd li.act img.i2 {
  display: inline-block;
}
.hd li.act img.i1 {
  display: none;
}
.bd > li {
  display: none;
}
.bd > li.act {
  display: block;
}
.list {
  padding: 24px 28px 0;
}
.list li {
  line-height: 46px;
  font-size: 16.6px;
  color: #545454;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list li::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 8px;
  border-radius: 50%;
  background-color: #545454;
  vertical-align: middle;
  margin-right: 9px;
}

.news-container .hd {
  border-bottom: 1px solid #dedede;
  padding-left: 29px;
}
.news-container .hd li {
  float: left;
  /* width: 146px; */
  min-width: 146px;
  line-height: 60px;
  font-size: 22.9px;
  color: #8d8d8d;
}
.news-container .hd li img {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 8px;
}
.news-container .hd li.act {
  color: #1c6801;
}
.news-container .hd li.act span {
  border-bottom: 3px solid #018503;
  padding-bottom: 14px;
}
.news-container .hd li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 26px;
  background-color: #8d8d8d;
  border-left: 1px solid #e1e3e5;
  border-right: 1px solid #e1e3e5;
  vertical-align: middle;
  margin: 0 22px;
}
.news-container .hd li:nth-child(1)::before {
  content: none;
}
footer {
  background-color: #228a47;
  color: #ffffff;
  padding-bottom: 37px;
}
footer .bar {
  height: 78px;
  border-bottom: 2px solid #449e64;
}
footer .imglinks {
  text-align: center;
  margin-top: -34px;
}
footer .imglinks a + a {
  margin-left: 56px;
}
footer .yqlinks {
  width: 1265px;
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 37px;
  text-align: center;
  line-height: 74px;
  background-color: #24a954;
  border-radius: 3px;
  font-size: 20px;
}
footer .yqlinks a {
  margin-left: 50px;
}
footer .yqlinks a::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  vertical-align: middle;
  margin-right: 16px;
}
footer .copyright {
  text-align: center;
  font-size: 16.6px;
  line-height: 41px;
}
/* list */
.curpage {
  line-height: 67px;
  font-size: 16.67px;
}
.leftnav {
  width: 242px;
  line-height: 62px;
  text-align: center;
  font-size: 22.9px;
}
.pchnltitle {
  background-color: #018503;
  color: #ffffff;
  border-radius: 3px;
}
.pchnltitle img {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 18px;
}
.llist .lli {
  background-color: #ebebeb;
  margin-top: 7px;
  border-radius: 3px;
  color: #4b4a4a;
}
.llist .lli a {
  display: block;
  width: 100%;
  height: 100%;
}
.llist .lli.act {
  border-left: 10px solid #018503;
}

.list2 {
  border-top: 5px solid #018503;
}
.list2-li {
  padding: 34px 0;
  border-bottom: 1px dashed #cccccc;
}
.list2-title {
  font-size: 20.8px;
  color: #545454;
  margin-bottom: 20px;
}
.list2-title .t1 {
  width: 85%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list2-title .t2 {
  width: 15%;
  text-align: right;
}
.list2-abs {
  font-size: 16.6px;
  color: #545454;
}
.list2-abs a {
  color: #018403;
}
.fy {
  /* width: 580px; */
  height: 30px;
  margin: 50px 0;
  font-size: 15px;
}
.fy .pages a {
  color: #333;
  padding: 3px 8px;
  border: 1px solid #d7d7d7;
  margin-right: 5px;
}
.bor {
  border: 1px solid #d7d7d7;
  padding: 3px 6px;
}
.fy .bor a {
  padding: 0;
}
.fy .pages a.on,
.fy .pages a:hover {
  background: #3582c4;
  color: #fff;
}
.fy a {
  color: #333;
  padding: 3px 8px;
  text-decoration: none;
}
.fy a:hover {
  color: #3582c4;
}
.fy span,
.fy button {
  margin: 0 3px;
}
.fy button {
  background: #3582c4;
  border: 1px solid #d7d7d7;
  padding: 3px 12px;
  _padding: 6px 12px 0;
  color: #fff;
}
.fy input {
  width: 36px;
  padding: 3px 0;
  border: 1px solid #d7d7d7;
  text-indent: 4px;
  margin: 0 4px;
}
.detail-container {
  border-top: 5px solid #018503;
}

.source-time {
  margin: 32px auto;
  height: 35px;
  text-align: center;
  position: relative;
  line-height: 35px;
  color: #aeadad;
  font-size: 16.6px;
}

.time {
  margin-right: 10px;
}

.wechat,
.sina {
  position: absolute;
  margin-top: 5px;
}

.wechat {
  margin-left: 10px;
}

.sina {
  margin-left: 46px;
}