:root {
  box-sizing: border-box;
  font-family: "微软雅黑", "Microsoft Yahei";
  font-size: 16px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  border: none;
  max-width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.center-block-1280 {
  width: 1280px;
  margin: 0 auto;
}
section + section {
  margin-top: 72px;
}
.w468 {
  width: 468px;
}
/* user style */
.logo img {
  display: block;
  padding: 10px 0;
}
.main {
  background-image: url("slxtpxbz-202411-mainbg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 968px;
  padding-bottom: 50px;
}
.chnltitle {
  margin-bottom: 47px;
  padding-left: 489px;
}
.chnltitle img {
  display: block;
}
.hnewsbg {
  background-image: url("slxtpxbz-202411-hnewsbg.jpg");
  height: 292px;
  background-size: cover;
  padding-top: 30px;
}
.hnewsbg h2 {
  text-align: center;
  font-size: 29px;
  color: #ffffff;
  line-height: 62px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ppadding {
  padding: 38px 66px 0;
}
.hnewsbg p {
  font-size: 20px;
  line-height: 35px;
  text-indent: 2rem;
}
.more {
  color: #646464;
  text-align: right;
}
/* carousel */
.slick-mod,
.slick-mod2 {
  width: 738px;
  height: 525px;
}
.slick-item {
  position: relative;
}
.slick-item img {
  width: 100%;
}
.tit1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  color: #ffffff;
  line-height: 40px;
  text-indent: 2rem;
  background: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-mod .slick-dots,
.slick-mod2 .slick-dots {
  position: absolute;
  right: 10px;
  bottom: 15px;
}
.slick-mod2 .slick-dots {
  bottom: 36px;
}

.slick-mod .slick-arrow,
.slick-mod2 .slick-arrow {
  width: 33px;
  height: 57px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
/* .slick-mod .slick-next {
  right: 0;
  background: url(../images_zt/wlaq-202009-arrowrigh.png) no-repeat center;
}
.slick-mod .slick-prev {
  left: 0;
  background: url(../images_zt/wlaq-202009-arrowlef.png) no-repeat center;
}

.slick-mod2 .slick-next {
  right: 0;
  background: url(../images/wlaq-202009-arrowrigh.png) no-repeat center;
}
.slick-mod2 .slick-prev {
  left: 0;
  background: url(../images/wlaq-202009-arrowlef.png) no-repeat center;
} */
.slick-mod .slick-dots li,
.slick-mod2 .slick-dots li {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.slick-mod .slick-dots li.slick-active,
.slick-mod2 .slick-dots li.slick-active {
  width: 14px;
  height: 14px;
  background: #e50012;
  border-radius: 50%;
}
/* --- */
.table-list {
  height: 525px;
}
.table-li {
  display: table;
  width: 100%;
  padding: 0 39px;
  height: 25%;
  background-color: #a20209;
}
.table-li a {
  display: table-cell;
  vertical-align: middle;
  line-height: 35px;
  color: #ffffff;
  font-size: 20px;
}
.table-li:hover {
  background-color: #ea010b;
  transition: 0.5s;
}
.list li {
  width: 640px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 50px;
  font-size: 20px;
}
.list li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  margin-right: 11px;
  margin-left: 25px;
}
.list li:nth-child(even) {
  float: right;
}
.list li:nth-child(odd) {
  float: left;
}
footer {
  background-color: #6c0203;
}
.boxs {
  box-shadow: 0px 0px 3px 1px #ccc;
}
.source-time {
  margin: 0 auto;
  height: 35px;
  text-align: center;
  position: relative;
  line-height: 35px;
}

.time {
  margin-right: 10px;
}

.wechat,
.sina {
  position: absolute;
  margin-top: 5px;
}

.wechat {
  margin-left: 10px;
}

.sina {
  margin-left: 46px;
}
