:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  border: none;
  max-width: 100%;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.center-block-1280 {
  width: 1280px;
  margin: 0 auto;
}
section + section {
  margin-top: 120px;
}
.w325 {
  width: 325px;
}
.w402 {
  width: 402px;
}
.w940 {
  width: 940px;
}
.w600 {
  width: 600px;
}
.w400 {
  width: 400px;
}
.w420 {
  width: 420px;
}
/* user style */
.indexbg {
  background-image: url('../img/en-202310-mainbgh.jpg');
  background-position: center top;
  height: 935px;
  background-size: cover;
  margin-bottom: 30px;
}
nav {
  background-image: url('../img/en-202310-navbg.jpg');
  height: 63px;
  background-position: center center;
  background-size: cover;
}
.nav {
  position: relative;
}
.nav-item {
  padding-top: 10px;
  position: relative;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  float: left;
  line-height: 53px;
}
.nav-item.haschild::after {
  display: none;
  content: '';
  position: absolute;
  left: calc(50% - 16px);
  bottom: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 7px solid #ffffff;
  border-left: 8px solid transparent;
}
.nav-item + .nav-item {
  margin-left: 80px;
}
.backzh {
  width: 94px;
  line-height: 26px;
  text-align: center;
  background-color: #368ace;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  color: #ffffff;
  float: right;
  margin: 22px 2px 0 0;
}
.nav-item.haschild:hover .nav-childcontainer,
.nav-item.haschild:hover::after {
  display: block;
}
.nav-childcontainer {
  position: absolute;
  top: 100%;
  color: #014a85;
  width: 995px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: none;
}
.nav-item:nth-child(4) .nav-childcontainer {
  left: -488px;
}
.nav-item:nth-child(6) .nav-childcontainer {
  left: -618px;
}
.nav-item:nth-child(7) .nav-childcontainer {
  left: -786px;
}
.nav-tchild {
  display: inline-block;
  line-height: 44px;
}
.nav-tchild + .nav-tchild {
  margin-left: 48px;
}
.nav-tchild a:hover {
  color: #068dfb;
}
.searchre {
  height: 162px;
}
.search-container {
  float: right;
  margin-top: 107px;
  box-shadow: 0 0 7px #666666;
  width: 276px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 6px 14px;
  border-radius: 4px;
}
.search-word {
  height: 22px;
  width: 210px;
  float: left;
  margin-right: 11px;
  border: none;
  background: transparent;
  outline: none;
  border-right: 1px solid #1f4e88;
}
.search-submit {
  float: left;
}
/* swiper */
.swiper-container {
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 40px;
}
.swiper-container .swiper-slide img {
  width: 850px;
}
.swiper-container .swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container .swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-container .swiper-wrapper {
  position: relative;
  width: 10%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.swiper-container .swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 50%;
  height: 100%;
  position: relative;
  padding: 0;
}
/* .swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 50px;
  margin-top: -25px;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
} */
.swiper-container .swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-container .swiper-pagination-bullet {
  width: 92px;
  height: 5px;
  display: inline-block;
  border-radius: 0;
  opacity: 1;
  background: #ffffff;
  cursor: pointer;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}
.swiper-container .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 17px;
}
.banner-box {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}
.swiper-container .swiper-slide {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: scale(0.7);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  -webkit-transform: scale(0.7);
  opacity: 0.5;
}
.swiper-container .swiper-slide-active,
.swiper-container .swiper-slide-duplicate-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.swiper-slide img {
  width: 100%;
  display: block;
}
.swiper-pagination {
  bottom: 0;
  width: 100%;
}
.swiper-container .swiper-pagination-bullet-active {
  background: #3564b3;
}
.swiper-container .swiper-slide p {
  display: none;
}
.swiper-container .swiper-slide-active p {
  display: block;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Georgia';
  text-align: center;
  padding-top: 20px;
}
.swiper-container .swiper-slide {
  width: 850px;
}

.swiper-container2,
.swiper-container3 {
  overflow: hidden;
  height: 386px;
  position: relative;
}
.swiper-container2 .swiper-slide img,
.swiper-container3 .swiper-slide img {
  height: 256px;
  box-shadow: 0 0 7px #b9b9b9;
  border-radius: 2px;
}
.swiper-pagination2.swiper-pagination-bullets,
.swiper-pagination3.swiper-pagination-bullets {
  text-align: center;
}
.swiper-pagination2 .swiper-pagination-bullet,
.swiper-pagination3 .swiper-pagination-bullet {
  width: 29px;
  height: 5px;
  background: #dedede;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination2 .swiper-pagination-bullet + .swiper-pagination-bullet,
.swiper-pagination3 .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin: 0 0 0 8px;
}
.swiper-pagination2 .swiper-pagination-bullet-active,
.swiper-pagination3 .swiper-pagination-bullet-active {
  background: #3582c4;
}
.swiper-slide .tit1 {
  font-size: 24px;
  color: #6e6e6f;
  font-family: 'Georgia';
  line-height: 42px;
  margin-top: 32px;
}
.swiper-container4 {
  overflow: hidden;
  padding: 4px;
  position: relative;
}
.swiper-container4 .show4 {
  box-shadow: 0 0 7px #b9b9b9;
  background-color: #f5f5f5;
}
.swiper-container4 .swiper-slide img {
  height: 331px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.swiper-container4 .tit1,
.swiper-container5 .tit1 {
  margin: 4px 0;
  padding: 0 13px;
}
.swiper-container4 .tit1 {
  height: 100px;
}
.swiper-container4 .swiper-button-prev,
.swiper-container4 .swiper-button-next {
  width: 53px;
  height: 145px;
  background-size: cover;
  margin: auto;
  top: 0;
  bottom: 0;
}
.swiper-container4 .swiper-button-prev {
  background-image: url('../img/en-202310-arrowleft.png');
  left: 10px;
}
.swiper-container4 .swiper-button-next {
  background-image: url('../img/en-202310-arrowright.png');
  right: 10px;
}
.swiper-container5 {
  overflow: hidden;
  width: 494px;
  box-shadow: 0 0 7px #b9b9b9;
  background-color: #f5f5f5;
}
.swiper-container5 .show {
  border-radius: 3px;
}
.swiper-pagination5 {
  text-align: center;
  margin-top: 10px;
}
.swiper-pagination5 .swiper-pagination-bullet {
  width: 86px;
  height: 5px;
  background: #dedede;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination5 .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 16px;
}
.swiper-pagination5 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #3582c4;
}
.swiper-container6 {
  overflow: hidden;
  position: relative;
}
.swiper-pagination6 {
  position: absolute;
  width: 854px;
  right: 0;
  left: 79px;
  bottom: 0;
  float: right;
}
.swiper-pagination6 .swiper-pagination-bullet {
  width: 20%;
  height: 5px;
  border-radius: 0;
  opacity: 1;
  background: #dedede;
}
.swiper-pagination6 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #024888;
}
.swiper-button-prev2,
.swiper-button-next2 {
  position: absolute;
  width: 9px;
  height: 13px;
  cursor: pointer;
  bottom: 0;
}
.swiper-button-prev2 {
  background-image: url('../img/en-202310-arrowleft2-d.png');
  left: 0;
}
.swiper-button-next2 {
  background-image: url('../img/en-202310-arrowright2-d.png');
  left: 44px;
}
.swiper-button-prev2.swiper-button-disabled {
  background-image: url('../img/en-202310-arrowleft2.png');
}
.swiper-button-next2.swiper-button-disabled {
  background-image: url('../img/en-202310-arrowright2.png');
}

.channel-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Trebuchet MS';
  margin-bottom: 40px;
  color: #333333;
}
.show3 .channel-title {
  text-align: left;
  margin-bottom: 30px;
}
.list li {
  font-size: 24px;
  font-family: 'Georgia';
  line-height: 42px;
  color: #6e6e6f;
}
.list.show2 li {
  width: 595px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list.show2 li:nth-child(even) {
  float: right;
}
.list.show2 li:nth-child(odd) {
  float: left;
}
.list.show2 li:nth-child(n + 3),
.list2 li + li {
  margin-top: 32px;
}
.list2 {
  width: 720px;
  margin-right: 20px;
}
.swiper-container6 .list2 {
  width: 100%;
}
.list2 li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}
.show3 .fl + .fl {
  margin-left: 75px;
}
.leader-container {
  background-color: #f6f6f6;
  border: 1px solid #d8d6d6;
  font-size: 24px;
  padding-left: 36px;
  padding-top: 8px;
  height: 400px;
  font-family: 'Trebuchet MS';
  box-shadow: 0 0 7px #b9b9b9;
}
.l-item {
  margin-top: 18px;
}
.l-item p {
  line-height: 41px;
}
.l-item p span {
  color: #6e6e6f;
}
.flpos {
  position: relative;
  height: 382px;
}
.section6 {
  padding-bottom: 126px;
}
footer {
  background-image: url('../img/en-202310-inidexfooterbg.jpg');
  height: 500px;
  background-position: center top;
  background-size: cover;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
}
.footerlink {
  margin-bottom: 80px;
}
.footerlink a +a {
  margin-left: 100px;
}
footer p {
  font-size: 24px;
  color: #ffffff;
  font-family: 'Georgia';
  line-height: 41px;
}
/* 细览 */
.indexbg.headerbg {
  background-image: url('../img/en-202310-headerbg.jpg');
  height: 335px;
  margin-bottom: 0;
}
footer.footerbg {
  background-image: url('../img/en-202310-footerbg.jpg');
  height: 335px;
  padding-top: 90px;
  background-size: cover;
  background-repeat: no-repeat;
}
.curpage {
  padding: 20px 0;
  font-size: 18px;
  font-family: 'Georgia';
  color: #6e6e6f;
}
.article-title {
  font-size: 46px;
  text-align: center;
  color: #0464b2;
  font-family: 'Trebuchet MS';
  line-height: 49px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.article-time {
  text-align: center;
  font-size: 18px;
  color: #6e6e6f;
  font-family: 'Georgia';
  margin-bottom: 27px;
}
.wx,
.wb {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url('../img/en-202310-iconwx.jpg');
  vertical-align: middle;
  margin-left: 23px;
  cursor: pointer;
}
.wb {
  margin-left: 5px;
  background-image: url('../img/en-202310-iconwb.jpg');
}
.article-content {
  font-size: 24px!important;
  color: #6e6e6f;
  font-family: 'Georgia'!important;
  line-height: 40px!important;
  text-align: justify;
}
.article-content p {
  margin-bottom: 40px!important;
}
.channel-title2 {
  font-size: 28px;
  text-align: center;
  color: #0464b2;
  font-family: 'Trebuchet MS';
  background-image: linear-gradient(#014a58, #014a58);
  background-position: center;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  margin-top: 35px;
  margin-bottom: 80px;
}
.channel-title2.uppercase,
.channel-title4.uppercase {
  text-transform: uppercase;
}
.channel-title2 span {
  padding: 0 21px;
  background-color: #ffffff;
}
.channel-tabs {
  display: table;
  margin-bottom: 82px;
}
.tabs-item {
  display: table-cell;
  width: 1%;
  table-layout: fixed;
  text-align: center;
  text-transform: uppercase;
  line-height: 42px;
  font-size: 32px;
  color: #333333;
  font-family: 'Trebuchet MS';
  border-radius: 3px;
}
.tabs-item.act {
  background-color: #6994c7;
  color: #ffffff;
}
.ministry-article p {
  font-size: 24px;
  color: #6e6e6f;
  font-family: 'Georgia';
  line-height: 35px;
  margin-bottom: 36px;
}
.leader + .leader {
  margin-top: 110px;
}
.leadership-container {
  padding-bottom: 130px;
}
.leader-detail {
  margin-top: 20px;
}
.leadership-title {
  text-align: center;
  font-size: 32px;
  color: #333333;
  font-family: 'Trebuchet MS';
  margin-bottom: 60px;
}
.ld-img {
  width: 200px;
  position: relative;
}
.ld-img img {
  display: block;
}
.ld-img p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Georgia';
}
.ld-desc {
  width: 1040px;
}
.ld-desc > p {
  font-size: 24px;
  color: #6e6e6f;
  font-family: 'Georgia';
  line-height: 36px;
  text-align: justify;
}
.readmore {
  float: right;
  font-size: 20px;
  color: #6e6e6f;
  font-family: 'Trebuchet MS';
  margin-top: 20px;
}
.leadershiplist-item + .leadershiplist-item {
  margin-top: 94px;
}
.leader-detail .leadership-list {
  background-color: #e4f2ff;
  padding: 45px 49px;
}
.leader-detail .ld-desc {
  width: 940px;
}
.leader-detail .ld-desc h2 {
  font-size: 32px;
  color: #333333;
  font-family: 'Trebuchet MS';
  font-weight: normal;
  margin: 6px 0 30px 0;
}
.leadership-article {
  margin-top: 65px;
}
.leadership-article,
.leadership-article span {
  font-size: 24px !important;
  color: #6e6e6f;
  font-family: 'Georgia';
  line-height: 40px;
}
.listpage-ul {
  padding-left: 10px;
  padding-right: 10px;
}
.show-2column .listpage-ul {
  padding: 0;
}
.show-2column {
  padding-bottom: 100px;
}
.show-2column .listpage-ul li img {
  float: left;
  margin-right: 19px;
  width: 163px;
  height: 92px;
}
.show-2column.show3 .fl + .fl {
  margin-left: 30px;
}
/* .flex {
  display: flex;
  justify-content: space-between;
}
.flex .fl {
  display: flex;
}
.flex .w600 {
  flex: 600px 0;
}
.flex .fr {
  margin-left: auto;
}
.flex .listpage-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.listpage-ul li p {
  display: table;
  width: calc(100% - 182px);
  height: 92px;
}
.listpage-ul li p span {
  display: table-cell;
  vertical-align: middle;
}
.listpage-ul li {
  font-size: 24px;
  color: #6e6e6f;
  line-height: 36px;
  font-family: 'Georgia';
}
.listpage-ul li + li {
  margin-top: 41px;
}
.listpage-ul.hastime li + li {
  margin-top: 36px;
}
.listpage-ul .li-title {
  width: 1090px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.page {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
}
.page a {
  padding: 5px 8px;
  line-height: 31px;
  color: #295b8c;
  font-size: 16px;
}
.page a + a {
  margin-left: 6px;
}
.page a.act {
  background-color: #edf4fb;
}
.page a.ps::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 13px;
  margin-top: -4px;
  vertical-align: middle;
  background-color: #295b8c;
  margin-right: 1px;
}
.page a.pe::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 13px;
  margin-top: -4px;
  vertical-align: middle;
  background-color: #295b8c;
  margin-right: 1px;
}
.channel-title3 {
  text-align: center;
  font-size: 32px;
  color: #333333;
  font-family: 'Trebuchet MS';
  margin-bottom: 50px;
}
.channel-title4 {
  font-size: 32px;
  color: #333333;
  font-family: 'Trebuchet MS';
  margin-bottom: 45px;
}
.channel-title4 a::after {
  content: '';
  display: inline-block;
  background-image: url('../img/en-202310-iconlt.png');
  width: 52px;
  height: 24px;
  margin-left: 17px;
}
.showimg-li {
  width: 402px;
  float: left;
}
.showimg-li + .showimg-li {
  margin-left: 37px;
}
.showimg-row + .showimg-row {
  margin-top: 28px;
}
.showimg-li img {
  border-radius: 5px;
  width: 402px;
  height: 256px;
  box-shadow: 0 0 7px #b4b3b3;
}
.showimg-li p {
  font-size: 24px;
  color: #6e6e6f;
  font-family: 'Georgia';
  line-height: 36px;
  margin-top: 20px;
}
.showimg-li:hover img {
  box-shadow: 0 0 20px #00b4ff;
}
.showimg-li:hover p {
  color: #0163b2;
}
.quicklink-container {
  width: 1046px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 49px;
}
.quicklink-title {
  text-align: center;
  font-size: 28px;
  color: #0464b2;
  font-family: 'Trebuchet MS';
  background-color: #e5f3ff;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 23px;
}
.quicklink-title p {
  font-size: 20px;
  text-transform: lowercase;
}
.quick-ul {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  box-sizing: border-box;
}
.quick-li {
  font-size: 24px;
  color: #6e6e6f;
  font-family: 'Georgia';
  padding-top: 30px;
  line-height: 36px;
  padding-bottom: 25px;
  padding-left: 80px;
}
.quick-li + .quick-li {
  border-top: 1px solid #cecece;
}
.contact {
  margin-bottom: 80px;
}
.contact p {
  color: #6e6e6f;
  font-size: 24px;
  font-family: 'Georgia';
  text-align: center;
}
.contact p + p {
  padding-top: 46px;
}
/* detail */
.article-content, .article-content p, .article-content div, .article-content span, .article-content font{
  font-size: 23px!important;
  color: #6e6e6f!important;
  font-family: 'Georgia'!important;
  line-height: 33px!important;
  /*text-align: justify;*/
}
.article-container{padding-bottom:40px}