.pic_bl {
    width: 1300px;
    overflow: hidden;
    position: relative;
    height: 747px;
    margin: 0 auto;
}

.pic_bl ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 747px;
}

.pic_bl ul li {
    float: left;
    border: 1px solid #c6c5c5;
    height: 747px;
    margin-right: 35px;
    box-sizing: border-box;
}

.pic_bl ul li a {
    display: block;
}

.section1 {
    position: relative;
}
.button {
    width: 1412px;
    position: relative;
    height: 60px;
    margin: 0px auto;
    /* margin-top: -23px; */
  }
.pic_bl .pic_l,.section1 .pic_l,.button .pic_l {
    display: block;
    position: absolute;
    left: 624px;
    /* top: 50%; */
    background: url(kdhbgs-202211-arrowleft.png) no-repeat;
    width: 60px;
    height: 60px;
    margin-top: -19px;
    cursor: pointer;
}

.pic_bl .pic_r,.section1 .pic_r,.button .pic_r {
    display: block;
    position: absolute;
    right: 624px;
    /* top: 50%; */
    background: url(kdhbgs-202211-arrowright.png) no-repeat;
    width: 65px;
    height: 65px;
    margin-top: -19px;
    cursor: pointer;
}

.pic_bg {
    width: 10px;
    height: 278px;
    background: #cde7f3;
    position: absolute;
    right: 0;
    top: 0;
}
