// font
@weuiFontEN: -apple-system-font, "Helvetica Neue";
@weuiFontCN: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
@weuiFontSans: sans-serif;

// Base
@body-background: #f5f5f5;
@font-family: @weuiFontEN, @weuiFontSans;
@font-size-base: 14px;

// Color
@color-red: #ff3b30;
@color-white: #fff;
@color-black: #000;
@primary-color: #3366cc;
@primary-color-secondary: #598ee2;

@text-primary: #303049;
@text-secondary:  #999999;
@text-placeholder: #e5e5e5;

@border-color-base: #eee;

@day-select-background-color:#efefef;
