:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑', 'Microsoft Yahei';
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  border: none;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.bmfc-mar {
  margin-top: 36px;
  margin-bottom: 46px;
}
.dfdt-mar {
  margin: 35px 0;
}
@media screen and (max-width: 768px) {
  /* app user style */
  .hidden-xsm {
    display: none;
  }
  header img {
    display: block;
  }
  nav {
    position: relative;
  }
  .nav-p,
  .nav-c {
    display: flex;
    text-align: center;
    padding: 0 15px;
    background-color: #158da8;
  }
  .navisshow {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #158da8;
  }
  .nav-item {
    flex: 1 auto;
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
  }
  .navicon img {
    width: 14px;
  }
  .main {
    background-color: #f0f0f0;
    padding-top: 15px;
  }
  .main.indexbg {
    padding-bottom: 85px;
    background-image: url('slbssxzq-202311-bottombg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  section + section {
    margin-top: 30px;
  }
  .apppd {
    padding: 0 15px;
  }
  .chnltitle {
    margin-bottom: 9px;
  }
  .chnlbg {
    font-size: 19px;
    text-align: center;
    line-height: 34px;
    color: #158da8;
  }
  .chnlbg::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    margin-right: 10px;
    margin-top: -2px;
  }
  .icon1 .chnlbg::before {
    background-image: url('slbssxzq-202311-icon1.png');
    width: 25.5px;
    height: 26px;
  }
  .icon2 .chnlbg::before {
    background-image: url('slbssxzq-202311-icon2.png');
    width: 22px;
    height: 22.5px;
  }
  .icon3 .chnlbg::before {
    background-image: url('slbssxzq-202311-icon3.png');
    width: 19px;
    height: 25.5px;
  }
  .icon4 .chnlbg::before {
    background-image: url('slbssxzq-202311-icon4.png');
    width: 25.5px;
    height: 19px;
  }
  .icon5 .chnlbg::before {
    background-image: url('slbssxzq-202311-icon5.png');
    width: 21px;
    height: 21px;
  }
  .icon6 .chnlbg::before {
    background-image: url('slbssxzq-202311-icon6.png');
    width: 22.5px;
    height: 22.5px;
  }
  .more {
    float: right;
    font-size: 13px;
    margin-top: 13px;
    color: #158da8;
  }
  .henws {
    background-color: #ffffff;
    padding: 25px 19px;
    border-radius: 5px;
  }
  .henws h2 {
    font-size: 21px;
    color: #0257a3;
    text-align: center;
    line-height: 29px;
  }
  .slick-img img {
    display: block;
    height: 194px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .slick-img .titi {
    font-size: 16px;
    color: #222222;
    background-color: #ffffff;
    line-height: 21px;
    padding: 10px 15px;
  }
  .slick-img.listpage .slick-item {
    text-align: center;
  }
  .slick-img.listpage .slick-item + .slick-item {
    margin-top: 17px;
  }
  .applist {
    box-shadow: 0 0 7px #e3e3e3;
  }
  .applist li {
    font-size: 16px;
    line-height: 21px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
  }
  .applist li + li {
    border-top: 1px solid #edf3f7;
  }
  .applist.listpage li + li {
    margin-top: 11px;
    border-top: none;
  }
  .pages {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
  }
  .pages a {
    padding: 2px 8px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
  }
  .pages a.act,
  .pages a:hover {
    background-color: #0167d5;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  .pages a + a {
    margin-left: 4px;
  }
  /* carousel */
  .slick-mod {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 7px #e3e3e3;
  }
  .slick-mod2 {
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 7px #e3e3e3;
  }
  .slick-mod .tit1 {
    font-size: 16px;
    text-align: center;
    line-height: 47px;
    background-color: #ffffff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .slick-mod2 .tit1 {
    height: 91px;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 21px;
    background-color: #ffffff;
  }
  .slick-item {
    position: relative;
  }
  .slick-item img {
    width: 100%;
    height: 194px;
  }
  .slick-mod .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 57px;
  }
  .slick-mod2 .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 19px;
  }
  .slick-mod2 .slick-dots li,
  .slick-mod .slick-dots li {
    width: 5px;
    height: 5px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 5px 0 0;
  }
  .slick-mod2 .slick-dots li {
    background: #b2bcd8;
  }
  .slick-mod2 .slick-dots li.slick-active,
  .slick-mod .slick-dots li.slick-active {
    width: 13.5px;
    height: 5px;
    background: #005bac;
    border-radius: 4px;
  }
  /* --- */
  .zt-links .zt-item {
    width: 50%;
  }
  .zt-links .zt-item:nth-child(even) {
    float: right;
    text-align: right;
  }
  .zt-links .zt-item:nth-child(odd) {
    float: left;
    
  }
  .zt-links .zt-item:nth-child(n+3) {
    margin-top: 14px;
  }
  .zt-links .zt-item img {
    box-shadow: 0 0 7px #e3e3e3;
    width: 165px;
  }
  footer {
    background-color: #158da8;
    color: #ffffff;
    padding: 35px 0;
    border-top: 1px solid #09a1e5;
  }
  footer p {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
  }
  footer p + p {
    font-size: 10px;
    margin-top: 20px;
  }
  .article-container {
    background-color: #ffffff;
    margin: 0 15px;
  }
  .art-t {
    padding: 18px 15px;
    border-bottom: 1px solid #e3e3e3;
  }
  .art-t h2 {
    font-size: 18px;
    line-height: 28px;
    color: #111111;
    text-align: center;
  }
  .art-t div {
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
    color: #666666;
  }
  .art-b {
    padding: 15px 9px;
  }
  .art-b p {
    font-size: 16px;
    line-height: 21px;
    color: #111111;
  }
  .art-b p + p {
    margin-top: 20px;
  }
  /* app user style end */
}
