:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: '微软雅黑','Microsoft YaHei';
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  border: none;
  max-width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}
.center-block-1200 {
  width: 1200px;
  margin: 0 auto;
}
.w1076 {
  width: 1076px;
}
.w566 {
  width: 566px;
}
.w585 {
  width: 585px;
}
.w482 {
  width: 482px;
}
/* user style */
.mainbg {
  background-image: url(nsbdxjptszt-202304-banner.jpg),url(nsbdxjptszt-202304-bottombg.jpg);
  padding-top: 540px;
  background-position: center top, center bottom;
  background-color: #fbf6e8;
  background-repeat: no-repeat;
  padding-bottom: 18px;
}
.hnews {
  background-image: url(nsbdxjptszt-202304-hnewsbg.jpg);
  background-size: contain;
  height: 121px;
}
.hnews-icon {
  margin-left: 20px;
  margin-top: 13px;
}
.hnew {
  padding-right: 23px;
}
.hnew h2 {
  color: #fcd88b;
  font-size: 36px;
  text-align: center;
  margin: 40px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hnew p {
  color: #fdde9d;
  line-height: 24px;
}
.hnews2 {
  height: 599px;
  background-image: url(nsbdxjptszt-202304-chnlbg1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* carousel */
.slick-mod {
  width: 642px;
  margin: 19px 0 0 29px;
}
.slick-mod2 {
  width: 567px;
  height: auto;
}
.slick-mod3 {
  width: 556px;
  height: 350px;
}
.slick-mod4 {
  width: 1051px;
  margin: 0 auto;
  margin-top: 40px;
}
.slick-item {
  position: relative;
}
.slick-item img {
  width: 100%;
}
.slick-mod4 img {
  width: 335px;
  margin: 0 auto;
}
.tit1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  color: #ffffff;
  line-height: 34px;
  text-indent: 1rem;
  background: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tit2 {
  font-size: 16px;
  line-height: 25px;
  margin-top: 6px;
  color: #6b6b6b;
}
.t2t {
  margin-top: 14px;
}
.slick-mod .tit2 {
  height: 52px;
  background-color: #dd0b0b;
  color: #ffffff;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 80px;
}
.slick-mod4 .tit2 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slick-mod .slick-dots,
.slick-mod2 .slick-dots {
  position: absolute;
  right: 14px;
  bottom: 22px;
}
.slick-mod2 .slick-dots {
  right: 14px;
  bottom: 13px;
}

.slick-mod .slick-arrow,
.slick-mod4 .slick-arrow {
  width: 24px;
  height: 69px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
/* .slick-mod .slick-next {
  right: 0;
  background: url(../images_zt/wlaq-202009-arrowrigh.png) no-repeat center;
}
.slick-mod .slick-prev {
  left: 0;
  background: url(../images_zt/wlaq-202009-arrowlef.png) no-repeat center;
} */

.slick-mod4 .slick-next {
  right: -54px;
  background: url(nsbdxjptszt-202304-arrowright.png) no-repeat center;
}
.slick-mod4 .slick-prev {
  left: -54px;
  background: url(nsbdxjptszt-202304-arrowleft.png) no-repeat center;
}
.slick-mod .slick-dots li {
  width: 9px;
  height: 9px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 11px 0 0;
}
.slick-mod .slick-dots li.slick-active {
  width: 9px;
  height: 9px;
  background: #a5a4a4;
  border-radius: 50%;
}
.slick-mod2 .slick-dots li {
  width: 9px;
  height: 9px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 11px 0 0;
}
.slick-mod2 .slick-dots li.slick-active {
  width: 9px;
  height: 9px;
  background: #e50012;
  border-radius: 50%;
}
.slick-img {
  width: 335px;
  margin: 0 auto;
}
/* --- */
.list {
  padding-right: 17px;
  padding-top: 20px;
}
.list li {
  font-size: 20px;
  position: relative;
  line-height: 24px;
  border-bottom: 1px solid #dbd1d1;
  padding: 20px 55px 20px 40px;
  color: #000000;
}
/* 添加动画效果 */
.list li:hover {
  border-left: 12px solid #c20317;
  color: #ffffff;
  padding-left: 28px;
}
.list li a {
  position: relative;
  z-index: 21;
}
.list li::before {
  content: '';
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b7967e;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.list li:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 0.9;
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.more {
  margin-top: 9px;
  margin-right: 30px;
  color: #848383;
}
.chnltitle {
  color: #d81010;
  font-weight: bold;
  margin-top: 42px;
}
.xxgc {
  margin-top: 38px;
  margin-bottom: 54px;
}
.chnltitle div {
  display: inline-block;
}
.qian {
  font-size: 30px;
  line-height: 30px;
  vertical-align: top;
}
.hou {
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  color: #d8b050;
  border-left: 2px solid #d8b050;
  padding-left: 6px;
  text-align: left;
  margin-left: 6px;
}
div.hou {
  display: none;
}
.list2 li {
  line-height: 23px;
  color: #000000;
  padding-left: 43px;
  position: relative;
  font-size: 18px;
}
.list2 li + li {
  margin-top: 28px;
}
.list2 li::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -1px;
  width: 4px;
  height: 4px;
  background-color: #ac8c8c;
  vertical-align: middle;
}
.ywjj-top {
  margin-top: 51px;
}
.newsabs {
  margin-top: 12px;
  margin-right: 16px;
}
.newsabs h2 {
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.newsabs p {
  font-size: 14px;
  color: #5f5f5f;
  line-height: 23px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbd1d1;
}
.list2.show-3 {
  padding-top: 11px;
}
.list2.show-3 li {
  line-height: 30px;
}
.list2.show-3 li::before {
  margin-left: 3px;
  margin-right: 16px;
}
.qwzn {
  margin-top: 42px;
}
.xxdt {
  margin-bottom: 5px;
}
.list2.show-2column {
  padding: 0 15px;
}
.list2.show-2column li {
  width: 570px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 30px;
  font-size: 16px;
}
.list2.show-2column li::before {
  margin-left: 0;
  margin-right: 16px;
}
.list2.show-2column li:nth-child(even) {
  float: right;
}
.list2.show-2column li:nth-child(odd) {
  float: left;
}
footer {
  background-color: #cd0000;
  text-align: center;
  color: #ffffff;
  line-height: 36px;
  padding: 40px 0;
}
.boxs {
  box-shadow: 0px 0px 3px 1px #ccc;
}
.source-time {
  margin: 0 auto;
  height: 35px;
  text-align: center;
  position: relative;
  line-height: 35px;
}

.time {
  margin-right: 10px;
}

.wechat,
.sina {
  position: absolute;
  margin-top: 5px;
}

.wechat {
  margin-left: 10px;
}

.sina {
  margin-left: 46px;
}

.list2 a:hover,
.slick-mod4 .tit2:hover,
.tit:hover,
.newsabs h2:hover {
  color: #c00;
  text-decoration: underline;
}
