:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  border: none;
  max-width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}
.center-block-1200 {
  width: 1200px;
  margin: 0 auto;
}
.w1076 {
  width: 1076px;
}
/* user style */
.mainbg {
  background-image: url(nsbdxjptszt-202304-banner.jpg);
  padding-top: 540px;
  background-position: center top;
  background-color: #fbf6e8;
}
.hnews {
  background-image: url(nsbdxjptszt-202304-hnewsbg.jpg);
  background-size: contain;
  height: 141px;
}
.hnews-icon {
  margin-left: 20px;
  margin-top: 17px;
}
.hnew {
    padding-right: 23px;
}
.hnew h2 {
  color: #fcd88b;
  font-size: 28px;
  text-align: center;
  margin: 18px 0 26px;
}
.hnew p {
  color: #fdde9d;
  line-height: 24px;
}
