* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
body {
  background: url(../img/hhbhfdt-202303-mbg.jpg);
  background-size: cover;
}
img {
  border: none;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

li {
  list-style: none;
}
.index {
  width: 100%;
}

.index .bt {
  height: 100%;
}

.index .box {
  position: relative;
  height: 50px;
}
.index .box img {
  position: absolute;
}
.btn_g {
  position: absolute;
  width: 100%;
}
.btn_g a {
  display: block;
  width: 50%;
  height: 50px;
  float: left;
}
.indexdescw {
  /* color: #00558d; */
  padding: 13px 10px;
}
.indexdescw h2 {
  font-size: 16.75px;
  /* margin-bottom: 15px; */
  color: #0c467a;
}
.indexdescw h2:not(:first-of-type) {
  margin-top: 10px;
}
.indexdescw p {
  font-size: 12.5px;
  line-height: 24px;
  text-indent: 2rem;
}
.tishi {
  text-align: center;
  color: #838383;
  font-size: 12.5px;
  line-height: 24px;
  padding-bottom: 50px;
}
/*register login*/
footer {
  padding: 16px 0;
  background: #00558d;
  color: #ffffff;
  font-size: 12.5px;
  line-height: 24px;
  text-align: center;
}
.register option {
  font-size: 10px;
  width: 100%;
}
.register .box,
.login .box {
  /* background: #d0ecef; */
  padding-bottom: 25px;
}

.login-app li {
  list-style: none;
  margin-bottom: 20px;
}

.login-app input {
  border: 1px solid #d4d4d4;
  outline: none;
}

.login-app .row {
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.login-app .qianzui {
  margin: 0 auto;
  text-align: center;
  height: 30px;
  line-height: 2;
  font-size: 14px;
  border-radius: 5px;
  background: #0d5194;
  color: #fff;
}

.login-app .houzhui input,
.login-app .houzhui select {
  width: 100%;
  height: 30px;
}
.login-app .houzhui select {
  font-size: 12px;
}
.login-content {
  padding-top: 20px;
}

.hei2-btn button {
  width: 100px;
  height: 29px;
  font-size: 15px;
  color: #ffffff;
  background: #00558d;
  border: none;
  border-radius: 5px;
  line-height: 1.5;
  outline: none;
}

select {
  border: 1px solid #feae01;
  width: 98%;
}
.login .box {
  overflow: auto;
}

.login .box {
  background: #ffffff;
  padding: 30px 0;
}

.box-shadow {
  box-shadow: 0 0 7px #c2c2c2;
}

.welcome {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}

.m-ul {
  width: 95%;
  margin: 0 auto;
}

.m-ul li {
  border: 1px solid #ececec;
  background: #ffffff;
  line-height: 1.5;
  margin-bottom: 15px;
  padding: 5px;
}

.m-ul li img {
  vertical-align: middle;
  margin-right: 5px;
}

.m-ul li input {
  height: auto;
  line-height: normal;
  display: inline;
  width: 80%;
  padding-left: 0;
  border: none;
  /* border-left: 1px solid #d0d0d0; */
  text-indent: 1rem;
  outline: none;
  color: #999999;
}

.m-ul li span {
  display: inline-block;
  border-right: 1px solid #d0d0d0;
}

.btn-tj {
  padding: 3px 0;
  margin-top: 45px;
}

.wregister {
  margin-bottom: 10px;
}

.register .m-ul li {
  margin-bottom: 5px;
}

.register .box {
  padding: 10px 0 10px 0;
  height: auto;
}

.m-ul select {
  width: 86%;
  /* text-indent: 1rem; */
  border: none;
  outline: none;
  color: #999999;
}

.m-ul select:not(:last-child) {
  margin-right: 5px;
}
.layui-input-inline {
  display: inline;
}

/*answer*/
.answer .box {
  padding: 15px 15px 25px;
  
}

.answer_t {
  font-size: 18px;
  font-weight: bold;
  color: #0c467a;
  text-align: center;
}

.xuanxiang {
  margin: 16px 0;
  font-size: 14px;
  color: #000000;
}
.xx_ul li {
  line-height: 25px;
}
.xx_ul input {
  margin: 0;
  margin-right: 5px;
  vertical-align: middle;
}
.xx_ul label{
    font-weight: normal;
}
/*score*/
.score .box {
  padding: 100px 0 30px;
  /* height: 103px; */
  /* background: url(../img/sfg_2020_score2_app.jpg); */
  background-size: 100% 100%;
  margin: 0 auto;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  /* line-height: 10; */
}
.score p {
    color: #0c467a;
    font-weight: bold;
}
.score p span {
    color: red;
    font-size: 38px;
}
.twi {
  width: 100%;
  height: 94px;
  /* background: #d0ecef; */
}
.twi .center-block {
  /* padding-top: 33px; */
  width: 250px;
}
.closepage {
  float: right;
}

.my-btn {
  width: 100%;
  text-align: center;
  margin-top: 35px;
  /* margin-bottom: 10px; */
  height: 50px;
}
.my-btn a {
  font-size: 15px;
  color: #ffffff;
  background: #00558d;
  padding: 7px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.my-btn a + a {
  margin-left: 30px;
}

.app-bg {
  width: 100%;
  padding-top: 161px;
}
.mainbg {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.whitebg-p {
  padding: 5px;
  background: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
}
.whitebg-c {
  background: rgba(255, 255, 255, 0.7);
  /* min-height: 865px; */
  /* padding: 52px 54px 60px; */
  border: 1px dashed #a7b0dc;
  box-sizing: border-box;
  border-radius: 5px;
}

.welcome {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  color: #0c467a;
  padding: 15px 0 6px 0;
}
.zhuyi {
  text-align: center;
  font-size: 10px;
}
.yelbg button,.yelbg a{
  background: #0c467a;
}
.tips {
  font-size: 10px;
  color: #303030;
  text-indent: 10px;
}
.btn_g button, .btn-tj button {
  width: 99px;
  height: 29px;
  /* float: left; */
  background: #0c467a;
  color: #ffffff;
  text-align: center;
  line-height: 29px;
  border-radius: 5px;
  border: none;
}
.fiedbar {
  position: fixed;
  top: 150px;
  right: 5%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #0c467a;
}
.register textarea {
  width: 100%;
  resize: none;
  border: 1px solid #d4d4d4;
  outline: none;
  padding: 5px 0;
}
::placeholder {
  font-size: 10px;
  text-indent: 9px;
}
.houzhui {
  padding-right: 0;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
}
