@media screen and (min-width: 992px) {
  .navmenu-childs,
  .nav-m,
  .m-rdzt,
  .m-rmbdimg,
  .m-more,
  .m-hfimg,
  .m-channelt,
  .rmbd-slick2,
  #apptopc,
  .app,
  .searchp-container .listpage-fr.slb,
  .app-select,
  .timed,
  .imglist-s3clumn .s3clumn-item p,
  .listpage-fr.slb.appchnltitle {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  #apptopc {
    word-break: normal;
    color: #ffffff;
    background-color: #005bac;
    padding: 1px 3px;
    font-size: 10px;
    margin-left: 5px;
  }
  /* reset style */
  .hidden-smxs {
    display: none !important;
  }
  .center-block-1280,
  .w845,
  .w425,
  .w575,
  .w619,
  .w810,
  .w420 {
    width: initial;
  }
  .slick-mod2,
  .rmbd-container,
  .ly-lcontainer,
  .ly-rtop .fl,
  .ly-rbottom .fl,
  .ly-rcontainer,
  .img-list,
  .ly-lcontainer img,
  .m-rmbdimg,
  .m-hfimg,
  .searchp-ceter {
    width: 100%;
    height: auto;
  }
  .fl,
  .fr,
  .rmbd-container ul li {
    float: none;
  }
  .mpd15 {
    padding: 0 15px;
  }
  /* user style */
  .rotate-bg {
    height: 250px;
  }
  .rotating-slider {
    margin-top: 64px;
  }
  .app .rotating-slider ul.slides li {
    background-size: 100%;
  }
  .logo-container {
    margin: auto;
    padding: 15px;
  }
  .logo {
    width: 77px;
    margin-top: 7px;
    margin-left: 10px;
  }
  .lword {
    padding: 0;
    margin-left: 21px;
    padding-left: 12.5px;
    height: 43.5px;
  }
  .lword p {
    line-height: 20px;
    font-size: 10px;
  }
  .lword p:nth-child(1) {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .borderb {
    height: auto;
    border-bottom: none;
  }
  nav {
    height: 44px;
    border-bottom: none;
  }
  .nav-m {
    display: flex;
    padding: 0 15px;
    align-content: center;
  }
  .nav-item {
    flex: 1;
    font-size: 16px;
    text-align: center;
  }
  .nav-item + .nav-item {
    margin-left: 0;
  }
  .navmenu img {
    width: 14px;
  }
  .bzzc-nav {
    padding: 0 15px;
  }
  .bzzc-item {
      display: flex;
  }
  .bzzc-item a {
    flex: 1;
    font-size: 14px;
  }
  .navmenu-childs,
  .bzzc-nav {
    position: relative;
    border-top: 1.5px solid #0097e6;
    display: none;
    background-color: #005bac;
    z-index: 20;
  }
  .bzzc-nav.act,
  .navmenu-childs.act {
    display: block;
  }
  .nav-mchild:nth-child(1) {
    border-top: 1.5px solid #94d8f6;
  }
  .nav-mchild {
    display: flex;
    padding-left: 40px;
    padding-right: 30px;
    white-space: nowrap;
  }
  .nav-mchild > div + div {
    margin-left: 30px;
  }
  .hnews-container {
    background-image: url('slbs-202309-mobilehnewsbg.png');
    height: 128px;
    padding-top: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 15px 15px;
  }
  .hnews-container h2 {
    font-size: 21px;
    margin: 0;
    line-height: 28px;
    padding: 0 10px;
    /* 显示两行 */
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 这里是超出几行省略 */
    overflow: hidden;
  }
  section + section {
    margin-top: 0;
  }
  .main {
    padding-top: 14px;
    padding-bottom: 30px;
    background-color: #e3eef4;
    background-image: none;
  }
  .section-t {
    padding: 0 15px;
  }
  .slick-mod2 .slick-item img,
  .rmbd-slick2 .slick-item img {
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .slick-mod2 .slick-item img {
    height: 216px;
  }
  .slick-mod2.listpage-mod .slick-item img {
    height: 215px;
  }
  .tit1,
  .txt .p1,
  .ly-lcontainer h2,
  .df-limg p,
  .img-list h2 {
    padding: 15px 15px 0;
    position: relative;
    background-color: #fcfdff;
    background-image: linear-gradient(to bottom, #fefeff, #f0f7fe);
    font-size: 16px;
    color: #222222;
    white-space: normal;
    line-height: 21px;
    height: 87px;
    text-indent: 0;
  }
  .slick-mod2 .slick-dots,
  .rmbd-slick2 .slick-dots {
    bottom: 15px;
    left: 0;
    right: 0;
  }
  .slick-mod2 .slick-dots li,
  .rmbd-slick2 .slick-dots li {
    background-color: #b2bcd8;
  }
  .list {
    margin-top: 15px;
  }
  .list.firstb li:nth-child(1) {
    font-weight: normal;
    font-size: 16px;
  }
  .list li,
  .ly-rtop h2,
  .list3 li,
  .img-list:nth-of-type(3) h2 {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 15px 15px;
    height: auto;
    line-height: 21px;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .list li:nth-child(n + 4),
  .ly-ritem:nth-child(n + 2),
  .list3 li:nth-child(n + 2) {
    display: none;
  }
  .list li:hover {
    background-image: none;
    color: #000000;
  }
  .list3.circleicon li:nth-child(n + 2) {
    display: block;
  }
  .section-b {
    padding: 0 15px;
  }
  .chnltitle.npd {
    background: none;
  }
  .chnltitle {
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 35px;
  }
  .zt-item,
  .zt-item img {
    width: 100%;
  }
  .zt-item + .zt-item {
    margin-left: 0;
  }
  .zt-item p {
    display: none;
  }
  .ztitem-child {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ztitem-child img {
    height: 214px;
    border-radius: 0;
  }
  .list2 {
    padding-top: 0;
  }
  .list2 li {
    background-color: #ffffff;
    padding: 16px;
    line-height: normal;
  }
  .list2 li + li {
    margin-top: 1px;
  }
  .rmbd-container {
    padding-top: 0;
  }
  .rmbd-container ul li:nth-child(1),
  .rmbd-container ul li {
    width: 100%;
  }
  .rmbd-container ul li,
  .txt,
  .txt .p1 {
    height: auto;
  }
  .txt,
  .pic {
    background: none;
    background-image: none !important;
  }
  .rmbd-container ul li.act .p1,
  .txt .p1 {
    position: relative;
    padding: 15px 15px 0;
    display: block;
    height: 87px;
    width: 100%;
    writing-mode: initial;
  }
  .rmbd-container ul .pic {
    background-size: cover;
    height: auto;
  }
  .txt .p3 {display: none;}
  .rmbd-container ul li.act .p1 {
    text-align: center;
  }
  .rmbd-slick2 .slick-dots li:nth-child(1) {
    width: 8px;
  }
  .m-rmbdimg {
    height: 234px;
  }
  .rotate-bg {
    margin-top: 35px;
    background-size: cover;
  }
  .channeltitle-bg {
    background-image: none;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 19px;
  }
  .ly-lcontainer {
    padding: 0;
  }
  .m-more {
    float: right;
    font-size: 13px;
    margin-top: 5px;
  }
  .ly-lcontainer img {
    display: block;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
  }
  .ly-lcontainer h2 {
    margin: 0;
    font-weight: normal;
    height: 70px;
  }
  .ly-lcontainer .labs,
  .ly-lcontainer .ltime,
  .ly-rbottom,
  .ly-rtop span {
    display: none;
  }
  .ly-rtop h2 {
    font-weight: normal;
  }
  .ly-ritem {
    height: auto;
    padding: 0;
  }
  .ly-rtop h2::before,
  .list3 li::before {
    content: none;
  }
  .df-rlist {
    margin-left: 0;
  }
  .df-limg {
    height: auto;
  }
  .df-limg img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .df-limg p {
    color: #000000;
    font-weight: normal;
    height: auto;
    padding-bottom: 15px;
    font-size: 16px;
    bottom: 0;
  }
  .list3 li {
    width: 100%;
    white-space: normal;
  }
  .slick-mod4 {
    margin: 25px 0;
  }
  .chnltitle2,
  .chnltitle2 span {
    border-bottom: none;
  }
  .chnltitle2 {
    font-size: 19px;
    font-weight: normal;
    margin-top: 35px;
  }
  .chnltitle2 span {
    padding: 0;
  }
  .img-list:nth-of-type(even) img,
  .img-list:nth-of-type(odd) img {
    float: none;
    width: 100%;
    display: block;
    height: auto;
    margin: 0;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
  }
  .img-list:nth-of-type(odd) img {
    display: none;
  }
  .img-list p {
    display: none;
  }
  .img-list + .img-list {
    margin: 0;
  }
  .img-list h2 {
    height: auto;
    padding: 15px;
    font-weight: normal;
    background-image: none;
    margin-top: 0;
    font-size: 16px;
  }
  .list3.circleicon li {
    -webkit-line-clamp: initial;
  }
  .list3.circleicon li + li {
    margin-top: 0;
    border-top: 1px solid #edf3f7;
  }
  .showitem6 {
    margin-left: 15px;
    margin-top: 20px;
  }
  .show6-item + .show6-item {
    margin-left: 0;
  }
  .show6-item {
    padding: 0 7.5px;
  }
  .show6-item img {
    height: 263.5px;
    width: 100%;
    /* border-radius: 5px; */
  }
  footer {
    padding-top: 0;
    font-size: 14px;
    height: auto;
    padding-bottom: 37px;
  }
  .footer-logo {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .footer-word p {
    line-height: 21px;
  }
  .footer-word p span {
    display: block;
  }
  .footer-word p + p {
    margin-top: 0;
  }
  .listpage-ul .listpage-time {
    display: none;
  }
  .listpage-ul .listpage-title {
    width: 100%;
    float: none;
  }
  .listpage-ul li::before {
    content: none;
  }
  .list-container {
    background-image: none;
    margin: 0;
    padding: 0 15px;
  }
  .listpage-ul li:nth-child(5n) {
    margin-bottom: 0;
  }
  .listpage-ul li {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
  }
  .listpage-ul .listpage-title {
    white-space: normal;
    line-height: 24px;
    font-size: 16px;
  }
  .listpage-ul li + li {
    margin-top: 10px;
  }
  .pages {
    font-size: 14px;
  }
  .pages a:hover {
    background-color: #ffffff;
  }
  .m-channelt {
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 19px;
    color: #005bac;
    padding-left: 33px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .article-container {
    padding: 0;
    background-color: #ffffff;
  }
  .article-top h2 {
    padding: 15px 15px 0;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .article-top {
    border-image: none;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 25px;
  }
  .article-bottom {
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .sourcetime-share {
    font-size: 13px;
  }
  .article-file {
    padding: 15px;
    font-size: 12px;
    margin-top: 30px;
  }
  .listpage-fr.slb {
    font-weight: normal;
    font-size: 19px;
    margin-bottom: 16px;
    margin-top: 10px;
  }
  .listpage-fr span.rmbd::before {
    width: 25px;
    height: 22px;
  }
  .slb-container {
    background-color: #ffffff;
    border-bottom: none;
    padding: 25px 15px;
    border-radius: 5px;
    box-shadow: 0 0 7px #d2cfcf;
    background-image: linear-gradient(#ffffff, #f2f8fe);
  }
  .slb-container .slb-title {
    font-size: 21px;
    text-align: center;
    margin-bottom: 18px;
    line-height: 28px;
  }
  .slb-container .slb-time {
    font-size: 14px;
    text-align: center;
  }
  .slbsearch-container {
    background-color: #ffffff;
    border-bottom: none;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0 0 7px #d2cfcf;
    background-image: linear-gradient(#ffffff, #f2f8fe);
  }
  .slbsearch-container span {
    display: block;
    padding: 15px 0;
  }
  .slbsearch-container span + span {
    margin-left: 0;
    border-top: 1px solid #e3e3e3;
  }
  .slbsearch-content,
  .slbsearch-num,
  .slbsearch-time {
    float: right;
    width: 75%;
    height: 15px;
    border: none;
    background: none;
    margin-left: 0;
    text-align: right;
  }
  .slbsearch-container button {
    width: 100%;
    height: 41px;
    background-image: linear-gradient(to right, #2eb2e8, #005cac);
  }
  .slb-chnltitle {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .slb-desc {
    padding-top: 25px;
    background: none;
  }
  .desc-title span {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .desc-art {
    padding-bottom: 0;
    border-bottom: none;
  }
  .desc-artb {
    padding: 25px 0;
  }
  .desc-art p {
    font-size: 14px;
    line-height: 22px;
  }
  .searchp-title {
    margin-right: 0;
  }
  .searchp-input {
    width: 100%;
    text-align: right;
    height: auto;
    border: none;
    background: none;
  }
  .searchp-item {
    line-height: normal;
    padding: 15px;
  }
  .searchp-item + .searchp-item {
    margin-top: 0;
    border-top: 1px solid #e3e3e3;
  }
  .searchp-container {
    background: none;
    padding: 0;
    border: none;
  }
  .searchp-appbg {
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0 0 7px #d2cfcf;
    background-image: linear-gradient(#ffffff, #f2f8fe);
  }
  .searchp-item .fl {
    float: left;
  }
  .searchp-item .fl:nth-child(2) {
    float: right;
    width: 75%;
  }
  .app-select select {
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    background: none;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -ms-progress-appearance: unset;
    appearance: unset;
    color: #999999;
    padding-left: 10px;
  }
  .searchtimes,
  .searchtimee {
    width: 40%;
    border: none;
    background: none;
    font-size: 13px;
  }
  #xv_Dates_box {
    left: initial !important;
    right: 10px;
  }
  .searchsubmit {
    width: 100%;
  }
  .searchp-item button {
    width: 100%;
    height: 41px;
    background-image: linear-gradient(to right, #2eb2e8, #005cac);
  }
  .searchsubmit .fl:nth-child(2) {
    float: none;
    width: 100%;
  }
  .slick-mod2.listpage-mod {
    height: auto;
  }
  .listpage-fr.lsitfl-title {
    margin: 25px 0;
    font-size: 19px;
    font-weight: normal;
  }
  .imglist-s3clumn .s3clumn-item img {
    width: 100%;
    height: auto;
  }
  .imglist-s3clumn .s3clumn-item {
    float: none;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 7px #d2cfcf;
    overflow: hidden;
  }
  .imglist-s3clumn .s3clumn-item p {
    padding: 15px;
    font-size: 16px;
    line-height: 21px;
  }
  .imglist-s3clumn .s3clumn-item + .s3clumn-item {
    margin-left: 0;
    margin-top: 15px;
  }
  .listpage-imglist .img-list h2 {
    font-size: 16px;
    line-height: 21px;
  }
  .img-list .img-listtime {
    display: none;
  }
  .listpage-imglist .img-list {
    padding-bottom: 0;
  }
  .listpage-imglist .img-list + .img-list {
    margin-top: 10px;
  }
  .zt-row .zt-item img {
    height: auto;
    width: 100%;
  }
  .zt-row .zt-item {
    width: 100%;
    float: none;
  }
  .zt-row .zt-item + .zt-item {
    margin-left: 0;
    margin-top: 15px;
  }
  .zt-row + .zt-row {
    margin-top: 15px;
  }
  .slect-row {
    /* height: 22px; */
    white-space: nowrap;
    overflow: scroll;
    display: flex;
  }
  .slect-item {
    margin-bottom: 10px;
    flex: 1;
    font-size: 16px;
    line-height: 20px;
    padding: 0 10px;
  }
  .slect-item.act {
    font-size: 16px;
  }
  .slect-item + .slect-item {
    border-left: 1px solid #dddddd;
  }
  .slect-row .slect-item:nth-child(10n) {
    border-left: 1px solid #dddddd;
  }
  .zt-row .zt-item p {
    display: block;
    padding: 15px;
  }
  .tab-slect {
    margin-bottom: 8px;
  }
  .zt-row .zt-item {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
  }
  .appshow-img {
    padding-top: 0;
  }
  .appshow-img .img-list:nth-of-type(odd) img {
    display: block;
    float: none;
  }
  .appshow-img.listpage-imglist .img-list {
    border-radius: 5px;
    overflow: hidden;
  }
  .appshow-img.listpage-imglist .img-list + .img-list {
    margin-top: 15px;
  }
  .ldjs-container {
    padding-top: 25px;
  }
  .ldjs-word p {
    line-height: 24px;
  }
  .ldjs-word p + p {
    margin-top: 15px;
  }
  .listpage-fr.ldhd {
    background: none;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .listimg-list .img-item {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 7px #d2cfcf;
    border-radius: 5px;
    overflow: hidden;
  }
  .listimg-list .img-item img {
    width: 100%;
    height: 603px;
  }
  .listimg-list .img-item p {
    padding: 15px;
    white-space: initial;
  }
  .listimg-list .img-item + .img-item {
    margin-left: 0;
    margin-top: 15px;
  }
  .searchres-container {
    background: none;
    border: none;
    padding: 0;
  }
  .searchres {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0 0 7px #d2cfcf;
    background-image: linear-gradient(#ffffff, #f2f8fe);
  }
  .searchres-item3 button {
    width: 100%;
    height: 41px;
    background-image: linear-gradient(to right, #2eb2e8, #005cac);
    margin-top: 15px;
  }
  .searchres-item1 {
    padding: 15px 0;
  }
  .searchres-item1 span {
    line-height: normal;
  }
  .searchres-item2 {
    border-top: 1px solid #e3e3e3;
  }
  .searchres-item2 span {
    display: block;
    padding: 15px 0;
  }
  .searchres-item2 span + span {
    border-top: 1px solid #e3e3e3;
  }
  .searchres-item2 input[type='text'] {
    float: right;
    margin: 0;
    height: auto;
    border: none;
    text-align: right;
    background: none;
  }
  .searchres-container {
    margin-bottom: 25px;
  }
  .listpage-ul.searchres {
    background: none;
    padding: 0;
    box-shadow: none;
  }
  .listpage-ul.searchres .listpage-title {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .logo-container {
    padding: 15px 10px;
  }
  .nav-item {
    font-size: 14px;
  }
  .bzzc-item a {
    font-size: 12px;
  }
  .lword {
    margin-left: 10px;
    padding-left: 10px;
  }
  .logo {
    width: 56px;
    margin-left: 0;
    margin-top: 12px;
  }
  .nav-mchild {
    padding-left: 15px;
  }
  .nav-mchild > div + div {
    margin-left: 25px;
  }
  footer {
    font-size: 12px;
  }
  .footer-logo {
    margin: 15px 0;
  }
}
