:root {
  font-size: 16px;
  font-family: '微软雅黑', 'Microsoft Yahei';
  box-sizing: border-box;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  border: none;
  max-width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.center-block-1280 {
  width: 1280px;
  margin: 0 auto;
}
.w425 {
  width: 425px;
}
.w814 {
  width: 814px;
}
.w462 {
  width: 462px;
}
.w435 {
  width: 425px;
}
.w625 {
  width: 625px;
}
section + section {
  margin-top: 50px;
}
.whitebg {
  background-color: #ffffff;
}
/* user style  */
.mainbg {
  background-image: url('sxslzq-202405-mainbg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #eef6f9;
}
.navbg {
  background-color: #0abfee;
  background: linear-gradient(to right, #2e75f6, #0abfee);
  height: 70px;
}
.nav-item {
  float: left;
  text-align: center;
  padding-top: 27px;
  height: 70px;
}
.nav-item span {
  display: inline-block;
  height: 18px;
  width: 142px;
  font-size: 18px;
  color: #ffffff;
}
.nav-item.act {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-item:nth-child(1) {
  margin-left: 24px;
}
.nav-item:nth-child(1) span {
  border-left: none;
}
.nav-item span {
  border-left: 1px solid #80b0f9;
}
.nav-search {
  padding-top: 20px;
  padding-right: 40px;
  height: 70px;
  cursor: pointer;
  position: relative;
}
.nav-search:hover .search-container {
  display: block;
}
.search-container {
  position: absolute;
  z-index: 20;
  display: none;
  padding: 6px 12px;
  top: 70px;
  right: -70px;
  width: 255px;
  background-color: #ffffff;
  height: 40px;
}
.search-container .searchword {
  border: none;
  outline: none;
  line-height: 28px;
  width: 70%;
}
.search-container .submitbutton {
  width: 64px;
  line-height: 28px;
  height: 100%;
  background-color: #055e92;
  color: #ffffff;
  border: none;
}
.headerpadding {
  height: 436px;
  position: relative;
}
.tg-word {
  position: absolute;
  width: 66px;
  height: 32px;
  border: 1px solid #2e75f6;
  text-align: center;
  line-height: 32px;
  color: #2e75f6;
  top: 27px;
  right: 26px;
}
/* carousel */
.slick-mod {
  width: 845px;
  height: 475px;
  overflow: hidden;
}
.slick-mod2 {
  width: 1225px;
  height: 180px;
  overflow: hidden;
}
.slick-item {
  position: relative;
}
.slick-item img {
  width: 100%;
}
.slick-mod2 .slick-item img  {
  display: block;
}
.mask {
  background-image: url('sxslzq-202405-mask.png');
  height: 148px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.tit1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 22px;
  color: #ffffff;
  text-indent: 1rem;
  padding-bottom: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-mod .slick-dots {
  position: absolute;
  right: 15px;
  bottom: 24px;
}
.slick-mod2 .slick-dots {
  right: 22px;
  top: 50%;
  width: 8px;
  position: absolute;
  margin: auto;
}

.slick-mod .slick-arrow,
.slick-mod2 .slick-arrow {
  width: 33px;
  height: 57px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
/* .slick-mod .slick-next {
  right: 0;
  background: url(../images_zt/wlaq-202009-arrowrigh.png) no-repeat center;
}
.slick-mod .slick-prev {
  left: 0;
  background: url(../images_zt/wlaq-202009-arrowlef.png) no-repeat center;
}

.slick-mod2 .slick-next {
  right: 0;
  background: url(../images/wlaq-202009-arrowrigh.png) no-repeat center;
}
.slick-mod2 .slick-prev {
  left: 0;
  background: url(../images/wlaq-202009-arrowlef.png) no-repeat center;
} */
.slick-mod .slick-dots li {
  width: 8px;
  height: 7px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0 5px 0 0;
}
.slick-mod .slick-dots li.slick-active {
  width: 19px;
  height: 7px;
  background: #0abfee;
  border-radius: 10px;
}

.slick-mod2 .slick-dots li {
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0 0 6px 0;
  display: block;
}
.slick-mod2 .slick-dots li.slick-active {
  width: 8px;
  height: 8px;
  background: #0abfee;
  border-radius: 10px;
}
/* --- */

.chnl-tab {
  width: 208px;
  height: 52px;
  line-height: 52px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #f3ece3,#ffffff);
  background-color: #ffffff;
  border-top: 2px solid #0abfee;
  text-align: center;
}
.chnl-tab.act {
  background-image: url('sxslzq-202405-chnlactbg.jpg');
  background-size: cover;
  color:  #ffffff;
}
.chnltab-container {
  height: 414px;
  background-color: #ffffff;
  margin-top: 9px;
}
.verticl-alig {
  height: 59px;
  display: table;
  width: 100%;
  line-height: 22px;
  padding-left: 22px;
  padding-right: 40px;
}
.verticl-alig a {
  display: table-cell;
  vertical-align: middle;
}
.verticl-alig + .verticl-alig {
  border-top: 1px solid #dae5ea;
}
.verticl-alig:hover {
  background-image: url('sxslzq-202405-lihoverbg.jpg');
  color: #ffffff;
}
.chnltab-con {
  display: none;
}
.chnltab-con.act {
  display: block;
}
.zt-title {
  background-image: url('sxslzq-202405-chnlztbg.jpg');
  width: 45px;
  height: 180px;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  display: table-cell;
}
.chnltitle {
  line-height: 52px;
  font-size: 24px;
  color: #1f4ea3;
  font-weight: bold;
  border-bottom: 2px solid #0abfee;
  margin-bottom: 28px;
}
.chnltitle span {
  display: inline-block;
  text-indent: 2px;
  margin-bottom: -2px;
  padding-right: 23px;
  border-bottom: 4px solid #1f4ea3;
}
.dfdt-container {
  padding: 38px 27px 10px;
  height: 332px;
}
.dfdtimg {
  width: 258px;
}
.dfdtimg p {
  font-size: 18px;
  color: #111111;
  font-weight: bold;
  line-height: 24px;
  margin-top: 19px;
}
.list li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 46px;
}
.list li::before {
  content: "";
  width: 6px;
  height: 6px;
  margin-right: 18px;
  display: inline-block;
  vertical-align: middle;
  background-color: #0abfee;
  border-radius: 50%;
}
.videozb {
  height: 332px;
}
.videozb p {
  line-height: 23px;
  padding-left: 22px;
  padding-top: 7px;
}
.mtgz-container {
  height: 439px;
  padding: 30px 37px;
}
.chnltitle img {
  vertical-align: text-bottom;
  margin-right: 12px;
  margin-left: -2px;
}
.ksq-container {
  height: 313px;
  padding: 30px 37px;
}
.ksq-container .list li {
  line-height: 42px;
}
.img-link {
  margin-top: 21px;
}
.chnltitle2 {
  background-image: url('sxslzq-202405-chnlbg.png');
  width: 285px;
  height: 55px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #1f4ea3;
  padding-top: 21px;
}

.wqqx {
  margin-top: 50px
}

.wqqx .list2 {
  width: 843px;
  margin-top: 36px;
}

.wqqx .list2 li {
  width: 280px;
  height: 158px;
  position: relative;
  z-index: 1;
  margin-right: 1px;
  margin-bottom: 1px;
  overflow: hidden
}

.wqqx .list2 li .img {
  height: 100%
}

.wqqx .list2 li .img span {
  position: absolute;
  left: 5px;
  bottom: 10px;
  z-index: 3
}

.wqqx .list2 li .img img {
  width: 100%;
  height: 100%;
  z-index: 1
}

.wqqx .list2 li .tit {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 18px;
  background: rgba(8, 87, 128, .64);
  color: #fff;
  display: table;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%)
}

.wqqx .list2 li .tit a {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.wqqx .list2 li.active .tit {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}

.wqqx .srcoll {
  width: 396px
}

.wqqx .srcoll .img {
  height: 245px;
  width: 100%;
  /* margin-bottom: 1px */
}

.wqqx .srcoll .img img {
  width: 100%;
  height: 100%
}

.wqqx .srcoll .txt {
  padding-bottom: 15px;
  height: 280px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#08557c), to(#ed554a));
  background-image: -webkit-linear-gradient(right, #08557c 0, #008bb8 100%);
  background-image: -moz-linear-gradient(right, #08557c 0, #008bb8 100%);
  background-image: linear-gradient(90deg, #08557c 0, #008bb8 100%)
}

.wqqx .srcoll .tit {
  margin-left: 28px;
  margin-right: 24px;
  font-size: 22px;
  padding: 22px 0;
  font-weight: bold;
  color: #fff;
  font-weight: 700;
  line-height: 32px;
}

.wqqx .srcoll .tit a {
  color: #fff
}

.wqqx .srcoll .abs {
  margin-top: 15px;
  margin-left: 28px;
  margin-right: 24px;
  font-size: 14px;
  height: 75.6px;
  color: #fff;
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wqqx .srcoll .abs a {
  color: #fff
}

.wqqx .srcoll .info {
  position: relative;
}

.wqqx .srcoll .more {
  margin: 40px auto 0;
  width: 115px;
  height: 27px;
  text-align: center;
  font-size: 0
}

.wqqx .srcoll .more span {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  color: #ea3c46;
  width: 27px;
  font-size: 16px;
  line-height: 27px
}

.wqqx .srcoll .more i {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-size: 14px;
  line-height: 35px;
  background: #ffffff;
  color: #08557c;
  width: 108px
}
.list2.list-pic ul {
  font-size: 0
}

.list2.list-pic li {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative
}

.list2.list-pic li .img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto
}

.list2.list-pic li .img img {
  width: 100%;
  height: auto
}

.list2.list-pic li .tit {
  font-size: 16px;
  line-height: 1.5;
  color: #333
}
.link-container {
  background-image: url('sxslzq-202405-linkbg.png');
  height: 208px;
  padding-top: 53px;
  padding-left: 32px;
  padding-right: 32px;
}
.link-item {
  display: flex;
}
.link-item + .link-item {
  margin-top: 40px;
}
.linkitem-title {
  flex: 0 0 155px;
  font-weight: bold;
}
.linkitem-url {
  font-size: 14px;
}
.linkitem-url div + div {
  margin-top: 14px;
}
.linkitem-url .text + .text {
  margin-left: 16px;
}

footer {
  padding: 40px 0;
  margin-top: 50px;
  text-align: center;
  background-color: #ffffff;
  border-top: 2px solid #0e538b;
  line-height: 27px;
}

footer img {
  margin-top: 20px;
}

.list-img {
  padding: 31px 40px;
  background-color: #f7f8f8;
  border-top: 2px solid #11568d;
}
.li-img + .li-img {
  border-top: 1px dashed #eaeaea;
  margin-top: 21px;
  padding-top: 22px;
}
.li-img img {
  margin-right: 15px;
  width: 330px;
}
.li-time2 {
  font-size: 14px;
  color: #999999;
  padding-top: 8px;
}
.li-time2::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("sxslzq-202405-icontime.png");
  vertical-align: baseline;
  margin-right: 10px;
}
.li-title2 {
  margin: 20px 0 30px;
  font-size: 24px;
}
.li-abs2 {
  color: #111111;
  line-height: 25px;
  overflow: hidden;
}
.li-img:hover .li-title2,.li-img:hover .li-abs2 {
  color: #014a85;
}
/* 分页 */
.fy {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  height: 30px;
  font-size: 12px;
  margin: 50px auto;
  text-align: center;
}
.sa {
  color: #333;
  padding: 5px 10px;
  border: 1px solid #d7d7d7;
  margin-right: 5px;
  background: #ffffff;
}
.fy .pages a,
.fy a {
  color: #333;
  padding: 5px 10px;
  border: 1px solid #d7d7d7;
  margin-right: 3px;
  background: #ffffff;
}

.fy .pages a.on,
.fy .pages a:hover {
  background: #0167d5;
  color: #fff;
}

.fy a:hover {
  color: #0167d5;
}

.fy span,
.fy button {
  /* margin: 0 3px; */
}

.fy button {
  background: #3582c4;
  border: 1px solid #d7d7d7;
  padding: 3px 12px;
  _padding: 6px 12px 0;
  color: #fff;
}

.fy input {
  width: 36px;
  padding: 3px 0;
  border: 1px solid #333;
  text-indent: 4px;
  margin: 0 4px;
}
.curpage {
  font-size: 14px;
  color: #ffffff;
  padding: 20px;
}

.li {
  line-height: 37px;
}
.doctitle {
  float: left;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  color: #2c2c2c;
  text-overflow: ellipsis;
}
.time {
  float: right;
  color: #999999;
  font-size: 14px;
}
.dot {
  margin-right: 10px;
  float: left;
  position: relative;
  width: 3px;
  height: 37px;
}
.li .dot::before {
  content: '';
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #014a85;
  border-radius: 50%;
  /* vertical-align: center; */
}
.listline {
  border-bottom: 1px dashed #d7d7d7;
  margin: 15px 0;
}
.show3img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.li-img2 {
  flex: 0 0 350px;
  width: 350px;
  float: left;
  /* margin: 0 auto; */
  text-align: center;
  margin-bottom: 20px;
}
.li-img2 img {
  width: 350px;
  height: 230px;
  margin: 20px 0;
}
.bt {
  font-weight: bold;
  font-size: 32px;
  line-height: 47px;
  color: #111111;
  text-align: center;
  margin-bottom: 30px;
}
.del {
  color: #666666;
  text-align: center;
  margin-bottom: 35px;
  font-size: 16px;
  border-bottom: 1px dashed #e3e3e3;
  padding-bottom: 40px;
}

.dochtmlcon {
  font-size: 18px;
  line-height: 36px;
  text-align: justify;
  color: #111111;
  padding: 0 38px;
}
.file-container:empty {
  display: none;
}
.file-container {
  background-color: #f5f8fb;
  border: 1px dashed #62a2ca;
  padding: 23px;
  margin: 50px 0;
}
.file-container div {
  font-weight: bold;
  margin-bottom: 10px;
}
.file-container p {
  line-height: 25px;
}

/* 新增搜索页面 */
.search-bar {
  height: 70px;
  border-top: 2px solid #11568d;
  border-bottom: 1px solid #d5e4eb;
  background-color: #f3f6f7;
}
.searchnum {
  padding: 28px 0 0 32px;
}
.searchnum span {
  color: #005bac;
  font-weight: bold;
}
.search-form {
  padding-top: 19px;
}
.search-word {
  width: 178px;
  height: 32px;
  border: 1px solid #005bac;
  margin-left: 21px;
  margin-right: 25px;
  border-radius: 5px;
  text-indent: 11px;
  outline: none;
}
.search-check {
  width: 22px;
  height: 22px;
  vertical-align: text-top;
  border-radius: 5px;
  margin-right: 11px;
  border: 1px solid #9ab4bf;
}
.list-img.noborder {
  border-top: none;
}
.search-button {
  width: 138px;
  height: 32px;
  background-color: #055e92;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 30px;
}
.list-img.circle .li .dot {
  margin-right: 20px;
}
.list-img.circle .li .dot::before {
  background-color: #ffffff;
  border: 1px solid #0c62b0;
  width: 10px;
  height: 10px;
}
.list-img.circle .li:nth-child(5n) {
  margin-bottom: 30px;
}