@media screen and (min-width: 769px) {
  .hidden-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hidden-xs {
    display: none;
  }

  .fl,
  .fr {
    float: none;
  }

  .center-block-1280,
  .w425,
  .w814,
  .w462,
  .w435,
  .w625,
  .wqqx .srcoll,
  .dfdtimg,
  .chnltitle2 {
    width: 100%;
  }
  .dfdt-container,
  .headerpadding,
  .chnltab-container,
  .videozb,
  .mtgz-container,
  .ksq-container {
    height: auto;
  }

  .slick-mod,
  .slick-mod2 {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .mainbg {
    background: none;
  }
  .main {
    padding: 0 15px;
    margin-top: -21px;
  }
  .mheader {
    background-image: url("sxslzq-202405-mheader.jpg");
    height: 240px;
    background-size: cover;
  }
  .tg-word {
    width: 49px;
    height: 24px;
    line-height: 24px;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 12px;
    left: 20px;
    right: 20px;
  }

  /* 手机版导航 */
  .navbar-toggle {
    width: 37px;
    height: 37px;
    background-image: url("sxslzq-202405-mnavbar.png");
    background-size: cover;
    position: fixed;
    top: 10px;
    border-radius: 50%;
    box-shadow: 0 0 7px #dddddd;
    right: 10px;
    z-index: 21;
  }
  .navbar-toggle.collapsed {
    background-image: url("sxslzq-202405-mnavbaract.png");
    box-shadow: none;
  }
  .navbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    height: auto;
    padding: 0;
  }
  nav {
    width: 259px;
    padding: 0;
    margin: 0 auto;
    margin-right: 0;
    background-image: url("sxslzq-202405-mnavbg.jpg");
    background-size: cover;
    background-image: linear-gradient(to right, #2e75f6, #10b3ef);
    margin-top: 52px;
  }
  .nav-item {
    float: none;
    width: 100%;
    line-height: 46px;
    height: auto;
    font-size: 17px;
    font-weight: normal;
    text-align: left;
    text-indent: 1rem;
    padding-top: 0;
  }
  .nav-item:nth-child(1) {
    margin-left: 0;
  }
  .nav-item + .nav-item {
    border-left: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .nav-item span {
    border-left: none;
  }

  .slick-mod .slick-item img {
    height: 200px;
  }
  .tit1 {
    font-size: 13px;
    padding-bottom: 7px;
  }
  .slick-mod .slick-dots {
    bottom: 10px;
    right: 7.5px;
  }
  .slick-mod .slick-dots li {
    height: 3.5px;
    width: 3.5px;
  }
  .slick-mod .slick-dots li.slick-active {
    height: 3.5px;
    width: 10px;
  }

  .chnltab-con.hidden-xs {
    display: none;
  }
  .chnltab-con {
    display: block;
    padding-top: 6px;
  }
  .chnl-tab,
  .chnltitle {
    width: 100%;
    background-image: url("sxslzq-202405-mchannelbg.png");
    height: 30px;
    background-size: cover;
    background-position: bottom center;
    border: none;
    font-size: 17px;
    line-height: 25px;
    margin-top: 15px;
    color: #1f4ea3;
    text-align: center;
  }
  .chnl-tab,
  .video-container,
  .sq-container {
    margin-top: 30px;
  }
  .chnltitle {
    margin-bottom: 12.5px;
  }
  .chnltitle span {
    padding: 0;
    border: none;
  }
  .verticl-alig {
    padding: 10px 0;
    height: auto;
    font-size: 13px;
  }
  .verticl-alig:hover {
    background: none;
    color: inherit;
  }
  .verticl-alig::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #4ecdee;
    margin: 0 10px 0 5px;
  }
  .verticl-alig:nth-child(n + 5) {
    display: none;
  }
  .mmore {
    line-height: 29px;
    text-align: center;
    font-size: 12px;
    color: #014a85;
    background-color: #eef6f9;
    border: 1px solid #d4e1ef;
    border-radius: 2px;
    margin-top: 15px;
  }
  section + section {
    margin-top: 30px;
  }
  .dfdt-container {
    padding: 0;
  }
  .dfdtimg img {
    width: 100%;
    display: block;
  }
  .dfdtimg p {
    margin: 15px 0 0;
    font-size: 13px;
    padding-left: 10px;
    line-height: 18px;
  }
  .lsit {
    padding-bottom: 7px;
  }
  .list li {
    font-size: 13px;
    line-height: 18px;
    padding: 10px 0;
    white-space: normal;
    padding-left: 20px;
    position: relative;
  }
  .list li::before {
    position: absolute;
    left: 5px;
    top: 18px;
  }
  .list li + li {
    border-top: 1px solid #dae5ea;
  }
  .list li:nth-child(n + 4) {
    display: none;
  }
  .videozb img {
    display: block;
  }
  .videozb p {
    padding: 0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    margin-top: 15px;
  }
  .mtgz-container,
  .ksq-container {
    padding: 0;
  }
  .ksq-container .list li {
    line-height: 18px;
  }
  .chnltitle img {
    width: 90px;
    margin-right: 10px;
  }
  .chnltitle2 {
    padding-top: 0;
  }
  .wqqx {
    margin-top: 17px;
    margin-bottom: 30px;
  }
  .wqqx .srcoll .img {
    height: 193px;
  }
  .wqqx .srcoll .abs {
    display: none;
  }
  .wqqx .srcoll .txt {
    height: 150px;
  }
  .wqqx .srcoll .tit {
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
  }
  .wqqx .srcoll .more {
    margin-top: 5px;
  }
  .chnltitle2 {
    line-height: 25px;
    font-size: 17px;
    color: #1f4ea3;
    font-weight: bold;
    height: 30px;
    border-bottom: 1px solid #0abfee;
    background-image: none;
  }
  .chnltitle2 span {
    display: inline-block;
    border-bottom: 2px solid #1f4ea3;
    vertical-align: sub;
    padding: 0 5px;
  }
  footer {
    margin-top: 0;
    font-size: 12px;
    line-height: 17px;
    padding: 26px 0;
  }
  footer img {
    width: 140px;
  }
  footer p,span {
    display: block;
  }

  .fy .pages a,
  .fy a {
    padding: 4px 8px;
  }
  .list-container {
    padding-top: 20px;
  }
  .list-img {
    border-top: none;
    background: #ffffff;
    padding: 0;
  }
  .li-img img {
    margin-right: 0;
    width: 100%;
    height: auto;
  }
  .li-title2 {
    font-size: 17px;
    line-height: 28px;
    margin: 20px 0 13px;
  }
  .li-img + .li-img {
    border-top: none;
    padding-top: 0;
  }
  .li-time2 {
    display: none;
  }
  .li-abs2 {
    font-size: 13px;
  }
  .li-title2 {
    margin: 10px 0 5px;
  }
  .li-img:hover .li-title2,.li-img:hover .li-abs2 {
    color: #000000;
  }
  .doctitle {
    width: 95%;
    white-space: normal;
  }
  .li {
    line-height: 18px;
    font-size: 13px;
    border-bottom: 1px solid #dae5ea;
    padding: 15px 0;
    padding-left: 20px;
  }
  .dot {
    height: auto;
    left: -13px;
    top: 10px;
  }
  .li .dot::before {
    background-color: #4ecdee;
  }
  
  .article {
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bt {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 14px;
  }
  .del {
    font-size: 13px;
    padding-bottom: 15px;
    margin-bottom: 17px;
  }
  .dochtmlcon {
    padding: 0;
    font-size: 13px;
    line-height: 20px;
  }
.file-container {
    font-size: 13px;
    margin: 25px 0;
    padding: 10px;
  }
}
