@media screen and (min-width: 769px) {
  .hidden-md {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hidden-xs {
    display: none;
  }

  .fl,
  .fr {
    float: none;
  }

  .center-block-1280,
  .w425,
  .w814,
  .w462,
  .w435,
  .w625,
  .wqqx .srcoll {
    width: 100%;
  }
  .dfdt-container,
  .headerpadding {
    height: auto;
  }

  .slick-mod,
  .slick-mod2 {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .mainbg {
    background: none;
  }
  .main {
    padding: 0 15px;
    margin-top: -21px;
  }
  .mheader {
    background-image: url("sxslzq-202405-mheader.jpg");
    height: 240px;
    background-size: cover;
  }
  .tg-word {
    width: 49px;
    height: 24px;
    line-height: 24px;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 12px;
    left: 20px;
    right: 20px;
  }

  /* 手机版导航 */
  .navbar-toggle {
    width: 37px;
    height: 37px;
    background-image: url('sxslzq-202405-mnavbar.png');
    background-size: cover;
    position: fixed;
    top: 10px;
    border-radius: 50%;
    box-shadow: 0 0 7px #dddddd;
    right: 10px;
    z-index: 21;
  }
  .navbar-toggle.collapsed {
    background-image: url('sxslzq-202405-mnavbaract.png');
    box-shadow: none;
  }
  .navbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    height: auto;
    padding: 0;
  }
  nav {
    width: 259px;
    padding: 0;
    margin: 0 auto;
    margin-right: 0;
    background-image: url('sxslzq-202405-mnavbg.jpg');
    background-size: cover;
    background-image: linear-gradient(to right, #2e75f6, #10b3ef);
    margin-top: 52px;
  }
  .nav-item{
    float: none;
    width: 100%;
    line-height: 46px;
    height: auto;
    font-size: 17px;
    font-weight: normal;
    text-align: left;
    text-indent: 1rem;
    padding-top: 0;
  }
  .nav-item:nth-child(1) {
    margin-left: 0;
  }
  .nav-item + .nav-item {
    border-left: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .nav-item span {
    border-left: none;
  }

  .slick-mod .slick-item img {
    height: 200px;
  }
  .tit1 {
    font-size: 13px;
    padding-bottom: 7px;
  }
  .slick-mod .slick-dots {
    bottom: 10px;
    right: 7.5px;
  }
  .slick-mod .slick-dots li {
    height: 3.5px;
    width: 3.5px;
  }
  .slick-mod .slick-dots li.slick-active {
    height: 3.5px;
    width: 10px;
  }
}
