.pic_bl {
    width: 1406px;
    overflow: hidden;
    position: relative;
    height: 730px;
    margin: 0 auto;
}

.pic_bl ul {
    position: absolute;
    left: 0;
    top: 0;
}

.pic_bl ul li {
    float: left;
    border: 1px solid #c6c5c5;
    margin-right: 25px;
}

.pic_bl ul li a {
    display: block;
}

.pic_bl ul li img {
    height: 730px;
}
.section1 {
    position: relative;
}
.pic_bl .pic_l,.section1 .pic_l,.button .pic_l {
    display: block;
    position: absolute;
    left: 0;
    top: calc(50% - 70px);
    background: url("szydhztz18-202311-arrowleft.png") no-repeat;
    width: 55px;
    height: 109px;
    /* margin-top: -38px; */
    cursor: pointer;
}

.pic_bl .pic_r,.section1 .pic_r,.button .pic_r {
    display: block;
    position: absolute;
    right: 0;
    top: calc(50% - 70px);
    background: url("szydhztz18-202311-arrowright.png") no-repeat;
    width: 55px;
    height: 109px;
    /* margin-top: -38px; */
    cursor: pointer;
}

.pic_bg {
    width: 10px;
    height: 278px;
    background: #cde7f3;
    position: absolute;
    right: 0;
    top: 0;
}