:root {
  font-size: 16px;
  font-family: "微软雅黑", "Microsoft Yahei";
  box-sizing: border-box;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  border: none;
  max-width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.center-block-1474 {
  width: 1474px;
  margin: 0 auto;
}

/* user style */
header {
    background-image: url('zgsblh-202503-topbg.jpg');
    height: 1038px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}