:root {
  font-size: 16px;
  font-family: "微软雅黑", "Microsoft Yahei";
  box-sizing: border-box;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  border: none;
  max-width: 100%;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.center-block-1474 {
  width: 1474px;
  margin: 0 auto;
}
.whitebg {
  background-color: #ffffff;
}
.w650 {
  width: 650px;
}
/* user style */
header {
  background-image: url("zgsblh-202503-topbg.jpg");
  height: 1038px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
header .pos {
  position: relative;
  height: 100%;
}
.ljbm {
  position: absolute;
  bottom: 222px;
  left: 562px;
}
.main {
  background-color: #f9f3ff;
  padding-bottom: 30px;
  /* background-image: url("zgsblh-202503-mainfooterbg.jpg");
  background-position: bottom center;
  background-repeat: no-repeat; */
}
.nav {
  text-align: center;
}
.nav-item {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #5810c6;
  font-size: 35px;
}
.nav-item + .nav-item {
  margin-left: 48px;
}
.hnews {
  padding: 0 40px;
  font-size: 22px;
  line-height: 41px;
  margin-top: 81px;
}
.padding {
  padding: 0 34px;
}
.chnltitle {
  margin-top: 100px;
  margin-bottom: 64px;
}
/* carousel */
.slick-mod {
  width: 649px;
  height: 366px;
}
.slick-mod2 {
  width: 100%;
  height: 585px;
}
.slick-mod2 .slick-item {
  padding: 7px;
}
.slick-item {
  position: relative;
}
.slick-item img {
  width: 100%;
}
.tit1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  color: #ffffff;
  line-height: 51px;
  text-indent: 1rem;
  background: rgba(111, 47, 204, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tit2 {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  padding-left: 34px;
  padding-bottom: 30px;
}
.tit2 h4 {
  font-size: 24px;
  margin: 30px 0;
}
.tit2 p {
  line-height: 29px;
}
.slick-mod .slick-dots,
.slick-mod2 .slick-dots {
  position: absolute;
  right: 10px;
  bottom: 15px;
}
.slick-mod2 .slick-dots {
  bottom: 36px;
}

.slick-mod2 .slick-arrow {
  width: 46px;
  height: 67px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
/* .slick-mod .slick-next {
  right: 0;
  background: url(../images_zt/wlaq-202009-arrowrigh.png) no-repeat center;
}
.slick-mod .slick-prev {
  left: 0;
  background: url(../images_zt/wlaq-202009-arrowlef.png) no-repeat center;
} */

.slick-mod2 .slick-next {
  top: -166px;
  right: 26px;
  background: url("zgsblh-202503-arrowright.png") no-repeat center;
}
.slick-mod2 .slick-prev {
  top: -166px;
  left: 26px;
  background: url("zgsblh-202503-arrowleft.png") no-repeat center;
}
.slick-mod .slick-dots li,
.slick-mod2 .slick-dots li {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.slick-mod .slick-dots li.slick-active,
.slick-mod2 .slick-dots li.slick-active {
  width: 14px;
  height: 14px;
  background: #e50012;
  border-radius: 50%;
}
/* --- */
.hnews2 {
  font-size: 48px;
  color: #712fcf;
  margin-top: 20px;
}
.list {
  font-size: 26px;
  margin-top: 38px;
}
.list li {
  padding: 18px 0;
}
.list li:nth-child(1) {
  color: #712fcf;
}
.list li + li {
  border-top: 1px solid #cacaca;
}
.list li .title {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list li .time {
  width: 20%;
}
.showimg {
  display: inline-block;
}
.showimg + .showimg {
  margin-left: 14px;
}

.list2 li {
  background-image: url("zgsblh-202503-libg.jpg");
  background-size: cover;
  width: 643px;
  height: 76px;
  line-height: 60px;
  font-size: 30px;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list2 li:nth-child(n + 3) {
  margin-top: 30px;
}
.list2 li:nth-child(even) {
  float: right;
}
.list2 li:nth-child(odd) {
  float: left;
}
.user-list .user:nth-child(4) {
 margin-left: 148px;
}
.user {
  float: left;
  width: 202px;
}
.user .t img {
  display: block;
  height: 210px;
  width: 100%;
}
.user .b {
  height: 105px;
  background-color: #15a3eb;
  color: #ffffff;
  padding-left: 14px;
  padding-top: 15px;
}
.user .name {
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.user .abs {
  line-height: 24px;
}
.user + .user {
  margin-left: 10px;
}
.user-list .row + .row {
  margin-top: 16px;
}
.tab-header .tab {
  width: 33.33%;
  text-align: center;
  line-height: 88px;
  float: left;
  font-size: 28px;
  color: #ffffff;
  position: relative;
}
.tab-header .tab.act::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  margin-left: 5px;
  background-image: url('zgsblh-202503-arrowdown.png');
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
}
.tab-header .tab:nth-child(1) {
  background-color: #13a1eb;
}
.tab-header .tab:nth-child(2) {
  background-color: #6f2fcc;
}
.tab-header .tab:nth-child(3) {
  background-color: #ffc702;
}
.tabt .t1 {
  width: 33.33%;
  line-height: 78px;
  background-color: #405aa7;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
.tabt .t2 {
  width: 66.66%;
  line-height: 78px;
  background-color: #405aa7;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
.tab-body .con {
  display: none;
}
.tab-body .con.act {
  display: block;
}
.tab-table {
  width: 100%;
  font-size: 24px;
}
.tab-table p {
  line-height: 62px;
}
.tab-table td {
  padding: 27px 0;
}
.tab-table td:nth-child(2) {
  padding-left: 147px;
}
.tab-table tr:nth-child(even) {
  background-color: #e4f0fc;
}
.tab-table tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.en-list .row + .row {
  margin-top: 36px;
}
.en-li {
  float: left;
}
.en-li img {
  width: 136px;
  height: 41px;
}
.en-li + .en-li {
  margin-left: 30px;
}
.en-li:nth-child(5) {
  margin-left: 120px;
}
.sshadow {
  box-shadow: 0 0 7px #dddddd;
  width: 647px;
  margin: 0 auto;
}
.ljbm-footer {
  padding: 135px;
  text-align: center;
}
footer {
  background-image: url("zgsblh-202503-footerbg.jpg");
  height: 513px;
  background-size: cover;
  padding-top: 90px;
}
.fnav-item {
  float: left;
  font-size: 18px;
  color: #ffffff;
}
.fnav-item + .fnav-item {
  margin-left: 56px;
}
.swhz {
  font-size: 20px;
  margin-top: 88px;
  color: #ffffff;
}
.swhz .t {
  margin-bottom: 20px;
}
.contact {
  line-height: 33px;
  float: left;
}
.contact + .contact {
  margin-left: 213px;
}

.posr {
  position: relative;
  height: 100%;
}
footer .word {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 84px;
  color: #ffffff;
  border-top:  2px solid #ffffff;
}
.source-time {
  margin: 0 auto;
  height: 35px;
  text-align: center;
  position: relative;
  line-height: 35px;
}

.time {
  margin-right: 10px;
}

.wechat,
.sina {
  position: absolute;
  margin-top: 5px;
}

.wechat {
  margin-left: 10px;
}

.sina {
  margin-left: 46px;
}
/*  */
.indexbg {
  background-image: url('zgsblh-202503-indexbg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}
.indexbg header,.indexbg .main,.indexbg .whitebg {
  background: none;
}
.indexbg .main {
  padding-bottom: 0;
}
.indexbg .tit2 h4 {
  padding-top: 30px;
  margin-top: 0;
}
.indexbg .ljbm-footer {
  height: 132px;
}