:root {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}
.center-block-1200 {
  width: 1200px;
  margin: 0 auto;
}
.w565 {
  width: 565px;
}
.w747 {
  width: 747px;
}
.w388 {
  width: 388px;
}
/* user style */
.fixedbar {
  position: fixed;
  top: 451px;
  right: 9%;
  text-align: center;
  font-size: 0;
}
.fixedbar p {
  line-height: 18px;
  font-size: 16px;
  margin-top: 6px;
}
.mainbg {
  background: url(gjxsd-202304-mainbg.jpg) top center no-repeat;
}
.header {
  height: 426px;
}
.header .center-block-1200 {
  position: relative;
  height: 426px;
}
.email {
  position: absolute;
  top: 28px;
  right: 60px;
}
.search-container {
  position: absolute;
  right: 227px;
  top: 310px;
}
.keyword {
  width: 192px;
  height: 39px;
  outline: none;
  border: none;
  float: left;
  border-left: 1px solid #c7c8c9;
  border-top: 1px solid #c7c8c9;
  border-bottom: 1px solid #c7c8c9;
  text-indent: 10px;
}
.submit {
  height: 39px;
  width: 71px;
  border: none;
  background: #076abe;
  color: #ffffff;
  cursor: pointer;
}
.nav-bg {
  width: 1243px;
  height: 68px;
  background: url(gjxsd-202304-navbg.png);
  margin: 0 auto;
  z-index: 20;
  position: relative;
  margin-bottom: -93px;
  margin-top: 25px;
}
.nav-p {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: table;
}
.nav-c {
  display: table-cell;
  width: 1%;
  table-layout: fixed;
  font-size: 20px;
  color: #fdfefd;
  font-weight: bold;
  text-align: center;
  line-height: 49px;
}
.whitebg {
  background: #ffffff;
  padding: 93px 20px 0 20px;
}
.rolltext {
  background: #f1f1f1;
  white-space: nowrap;
  margin-bottom: 20px;
}
.roll-icon {
  width: 133px;
  background: #1ba0e5;
  line-height: 37px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.roll-icon img {
  margin: 2px 6px 0 4px;
}

.txtMarquee-left {
  position: relative;
}
.txtMarquee-left .bd .tempWrap {
  width: 1022px !important;
} /* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
.txtMarquee-left .bd ul li {
  margin-right: 20px;
  float: left;
  line-height: 37px;
  text-align: left;
  _display: inline;
  width: auto !important;
} /* 用 width:auto !important 覆盖SuperSlide自动生成的宽度，解决文字不衔接问题 */

/* carousel */
.slick-mod {
  width: 576px;
  height: 370px;
}
.slick-mod2 {
  width: 100%;
}
.slick-item {
  position: relative;
}
.slick-item img {
  width: 100%;
}
.tit1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  color: #ffffff;
  line-height: 40px;
  text-indent: 2rem;
  background: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-mod .slick-dots,
.slick-mod2 .slick-dots {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.slick-mod .slick-arrow,
.slick-mod2 .slick-arrow {
  width: 33px;
  height: 57px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
/* .slick-mod .slick-next {
  right: 0;
  background: url(../images_zt/wlaq-202009-arrowrigh.png) no-repeat center;
}
.slick-mod .slick-prev {
  left: 0;
  background: url(../images_zt/wlaq-202009-arrowlef.png) no-repeat center;
}

.slick-mod2 .slick-next {
  right: 0;
  background: url(../images/wlaq-202009-arrowrigh.png) no-repeat center;
}
.slick-mod2 .slick-prev {
  left: 0;
  background: url(../images/wlaq-202009-arrowlef.png) no-repeat center;
} */
.slick-mod .slick-dots li {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.slick-mod2 .slick-dots li {
  width: 23px;
  height: 5px;
  background: rgb(58, 144, 219, 0.5);
  border-radius: 0%;
  margin: 0 5px 0 0;
}

.slick-mod .slick-dots li.slick-active {
  width: 14px;
  height: 14px;
  background: #e50012;
  border-radius: 50%;
}
.slick-mod2 .slick-dots li.slick-active {
  width: 23px;
  height: 5px;
  background: #206bd5;
  border-radius: 0%;
}
/* --- */
.tabs {
  border-bottom: 1px solid #dad9d9;
}
.tab {
  display: inline-block;
  width: 99px;
  line-height: 36px;
  text-align: center;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #0c45ad;
}
.tab {
  margin-left: 13px;
}
.tab + .tab {
  margin-left: 16px;
}
.tab.act {
  background: #206bd5;
  color: #ffffff;
}
.more {
  font-size: 14px;
  color: #8c8c8c;
  margin-top: 16px;
  margin-right: 14px;
}
.tab-con {
  display: none;
}
.tab-con.act {
  display: block;
}
.list li {
  color: #020202;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 40px;
}
.list {
  padding-top: 12px;
}
.list li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  background-color: #9ba0aa;
  margin-left: 19px;
  margin-right: 15px;
}
section + section {
  margin-top: 26px;
}
footer {
  background-color: #0852ae;
  text-align: center;
  color: #ffffff;
  line-height: 29px;
  padding: 32px 0;
  margin-top: 24px;
}
.change-section {
  margin-top: 24px;
}
.change-tab {
  width: 272px;
  height: 55px;
  background-color: #e0f4f8;
  font-size: 20px;
  color: #0c5c94;
  text-indent: 26px;
  line-height: 55px;
  background-image: url(gjxsd-202304-icon2.png);
  background-repeat: no-repeat;
  background-position: right 34px center;
}
.change-tab.act {
  background-image: url(gjxsd-202304-icon1.png);
  background-color: #1a93d8;
  color: #ffffff;
}
.change-tab + .change-tab {
  margin-top: 2px;
}
.change-container {
  width: 866px;
}
.change-content .list,.change-content img {
  display: inline-block;
}
.change-content .list {
  width: 468px;
  padding-top: 0;
}
.change-content li {
  line-height: 38px;
}
