*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
body{background: #D3D1D6;}
a {text-decoration: none;color: inherit;outline: none;}
li {list-style: none;}
img {border: none;}

.clearfix {
	*zoom: 1;
}
.clearfix::after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.center_block {
    width: 1200px;
    margin: 0 auto;
}

.banner {
    position: relative;
    height: 221px;
    background: url(../images/slbzhkf_202005_banner-1200.jpg) center center;
    background-size: cover;
}
.search-bar {
    position: absolute;
    right: 10px;
    bottom: 11px;
    height: 22px;
}
.search-bar .s1 {
    height: 100%;
    width: 240px;
    border: none;
    vertical-align: middle;
    outline: none;

}
.search-bar .s2 {
    vertical-align: middle;
    outline: none;
}
.stime {
    height: 20px;
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    text-align: right;
    padding-right: 5px;
}
.nav {
    height: 34px;
    background: url(../images/slbzhkf_202005_nav-1200.jpg);
    background-size: cover;
}

.home {
    width: 90px;
    display: block;
    float: left;
    text-align: center;
    color: #f4fa06;
    font-size: 14px;
    margin-left: 20px;
    margin-top: -3px;
}
.nav ul {
    height: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    line-height: 34px;
    margin-left: 45px;
    font-weight: bold;
}
.nav ul li {
    float: left;
    padding: 0 43px;
}

.navicon {
    float: left;
    height: 34px;
}
.navicon img {
    vertical-align: middle;
}


.section1 {
    margin-top: 17px;
    /* padding-left: 10px; */
    overflow: hidden;
}
/* 轮播图 */
.carouse {
    float: left;
    width: 547px;
    height: 365px;
    background: url(../images/slzhkf_202005_bannerbg-1200.png) center center;
    background-size: cover;
    margin-left: 10px;
}
.slick-mod {
    position: relative;
    width: 526px;
    margin: 0 auto;
    padding-top: 10px;
}
.slick-item img{
	width: 526px;
	height: 284px;
}
.tit1 {
    position: relative;
    font-size: 15px;
    background: #ffffff;
    padding: 5px;
    line-height: 1.5;
    /*height: 54px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.c1 {
    width: 600px;
    height: 300px;
    /*border-top: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;*/
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
.cnlbg {
    width: 300px;
    height: 34px;
    background: url(../images/slzhkf_202005_chnlbg.png);
    background-size: cover;
    margin-top: -16px;
    margin-left: -1px;
    line-height: 33px;
    color: #ffffff;
    font-weight: bold;
    text-indent: 50px;
}

.list {
    font-size: 15px;
    padding-top: 25px;
}
.list li {
    line-height: 30px;
}
.list li img {
    /* vertical-align: middle; */
    margin: 0 5px;
}
.list span {
    float: right;
    margin-right: 15px;
}
.section2 {
    margin-top: 40px;
    height: 321px;
}
.section2 .list li {
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.c2 {
    width: 468px;
    /*height: 317px;*/
    float: left;
    border: 1px solid #b7b7b7;
    border-bottom: none;
}
.c2 .list {
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 15px;
}
.c2 .list li img {
    /* vertical-align: middle; */
    margin: 0 10px;
}
.section2 .c2:nth-child(1) {
    margin-left: 13px;
}
.section2 .c2:nth-child(2) {
    margin-left: 20px;
}
.c3,.c4 {
    margin-right: 13px;
}
.section3 .c2 .list {
    margin-bottom: auto;
}

.c3 {
    width: 194px;
    /* height: 290px; */
    float: right;
    /* background: #b7b7b7; */
}
.section3 {
    height: auto;
    margin-top: 60px;
}
.footer {
    margin-top: 15px;
}

.link {
    margin-bottom: 3px;
}
.link img{
    width: 100%;
    height: 64px;
}
.c3 .link:nth-child(5) {
    margin-bottom: 0;
}

.c4 {
    width: 194px;
    height: 146px;
    float: right;
    background: url(../images/slzhkf_202005_link6.png);
    background-size: cover;
}

.c4 select {
    width: 163px;
    font-size: 12px;
}

.sel1,.sel2,.sel3 {
    width: 163px;
    margin: 0 auto;
    margin-bottom: 8px;
}
.sel1 {
    margin-top: 29px;
}

.c1.revise {
    width: 1150px;
    margin: 0 auto;
    background-color: rgb(229, 229, 229);
    float: none;
    border: 1px solid #b7b7b7;
    height: auto;
}
.revise ul {
    padding-left: 47px;
    padding-right: 47px;
}
.revise li {
    line-height: 40px;
}

.fy {
    width: 849px;
    height: 40px;
    margin: 20px auto;
    background: #EBEBEB;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}

.whitebg {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

.c1.jgjj {
    width: 800px;
    float: left;
    margin-left: 13px;
}
.neirong {
    font-size: 16px;
    padding: 20px;
}
.c1.jgjj2 {
    width: 350px;
    height: auto;
    border: none;
    margin-right: auto;
}

.jgjj3 p{
    font-size: 12px;
    text-indent: 1rem;
    line-height: 25px;
    font-weight: bold;
    padding-right: 13px;
    text-align: justify;
}

.cnlbglist{
    width: 298px;
    height: 33px;
    background: url(../images/slzhkf_202005_chnlbg.png);
    background-size: cover;
    margin-top: -16px;
    margin-left: -1px;
    line-height: 33px;
    color: #ffffff;
    font-weight: bold;
    text-indent: 50px;
	/*box-shadow:15px 0px 20px;*/
}
.lmlist{
width:700px;
margin:0 auto 21px auto;
}
.lmtitle{
height:55px
}