.poster-main {
  width: 1000px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

.poster-main a, .poster-main img { display: block; }

.poster-main .poster-list {
  width: 1000px;
  height: 500px;
}

.poster-main .poster-list .poster-item {
  width: 200px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 0;
}

.poster-main .poster-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  margin: auto;
}

.poster-main .poster-prev-btn {
  left: -55px;
  background: url(dsbjsjszydh-202303-arrowleft2.png) no-repeat center center;
}

.poster-main .poster-next-btn {
  right: -55px;
  background: url(dsbjsjszydh-202303-arrowright2.png) no-repeat center center;
}

.poster-item .title {
  width: 100%;
  position: absolute;
  height: 48px;
  background:#808080;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  line-height: 48px;
}
.poster-btn {
	width: 35px!important;
}
