:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: '微软雅黑', 'Mircosoft Yahei';
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  border: none;
  max-width: 1005;
}
li {
  list-style: none;
}
body {
  background-color: #dbf0ff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
.center-block-1200 {
  width: 1200px;
  margin: 0 auto;
}
.center-block-864 {
  width: 864px;
  margin: 0 auto;
}
.w374 {
  width: 374px;
}
.w395 {
  width: 395px;
}
.w410 {
  width: 410px;
}
.w420 {
  width: 420px;
}
.w430 {
  width: 430px;
}
.w488 {
  width: 488px;
}
.w581 {
  width: 581px;
}
.w604 {
  width: 604px;
}
.w693 {
  width: 693px;
}
.w560 {
  width: 560px;
}
.w864 {
  width: 864px;
}
.whitebg {
  background-color: #ffffff;
  padding: 10px;
}

/* user style */
.mainbg {
  background-image: url('slaqscy-202405-mainbg.jpg'),url('slaqscy-202405-footerbg.png');
  padding-top: 570px;
  background-position: center top,center bottom;
  background-repeat: no-repeat;
  background-color: #caf2ff;
}
nav {
  background-image: url('slaqscy-202405-navbg.png');
  width: 882px;
  height: 55px;
  margin: 0 auto;
}
.nav {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  line-height: 50px;
  font-weight: bold;
}
.nav li {
  display: inline-block;
  margin-left: 30px;
}
.main {
  padding: 28px 0 100px;
}
section {
  position: relative;
}
section + section {
  margin-top: 40px;
}
.chnltitle {
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-image: url('slaqscy-202405-chnlbg.png');
  background-repeat: no-repeat;
  background-position: center;
  line-height: 30px;
  width: 313px;
  height: 40px;
  position: relative;
  z-index: 22;
  margin-bottom: 20px;
}
.line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 14px;
  width: 100%;
  height: 2px;
  z-index: 20;
  background-color: #3566b6;
}
.chnltitle.center {
  margin-left: auto;
  margin-right: auto;
}
.chnltitle.longbg {
  width: 499px;
  background-image: url('slaqscy-202405-chnlbg2.png');
}
/* carousel */
.slick-mod {
  width: 390px;
  height: 263px;
  overflow: hidden;
}
.slick-mod2 {
  width: 340px;
  height: 180px;
  margin: 0 auto;
}
.slider-for {
  width: 291px;
  height: 208px;
  background-color: #e6feff;
}
.slider-nav {
  width: 124px;
  height: 208px;
  overflow: hidden;
  background-color: #e6feff;
  margin-top: -2px;
}
.slider-for .slick-item img {
  width: 148px;
  margin: 0 auto;
}
.slider-nav .slick-item img {
  height: 67px;
  width: auto;
  margin: 0 auto;
}
.slick-item {
  position: relative;
}
.slick-item img {
  width: 100%;
}
.tit1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  color: #ffffff;
  line-height: 30px;
  text-indent: 1rem;
  background: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-mod .slick-dots {
  position: absolute;
  right: 14px;
  bottom: 10px;
}
.slick-mod2 .slick-dots {
  position: absolute;
  bottom: 1px;
  right: 0;
}
.slider-nav .slick-arrow {
  width: 30px;
  height: 12px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
}
.slick-mod2 .slick-arrow {
  width: 25px;
  height: 26px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
.slider-nav .slick-next {
  bottom: 0;
  background: url('slaqscyhd-202405-arrowbottom.png') no-repeat 100%;
  background-size: contain;
}
.slider-nav .slick-prev {
  top: 3px;
  background: url('slaqscyhd-202405-arrowtop.png') no-repeat center;
}
.slick-mod2 .slick-next {
  right: -30px;
  background: url('slaqscy-202405-arrowright.png') no-repeat center;
}
.slick-mod2 .slick-prev {
  left: -30px;
  background: url('slaqscy-202405-arrowleft.png') no-repeat center;
}
.slick-mod .slick-dots li {
  width: 11px;
  height: 11px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.slick-mod .slick-dots li.slick-active {
  width: 11px;
  height: 11px;
  background: #0068d4;
  border-radius: 50%;
}
.slick-mod2 .slick-dots li {
  width: 42px;
  height: 22px;
  line-height: 22px;
  font-size: 23px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 0px;
  margin: 0 1px 0 0;
}
.slick-mod2 .slick-dots li.slick-active {
  width: 42px;
  height: 22px;
  background: #0068d4;
  border-radius: 0px;
}
/* --- */
.list {
  padding-top: 0;
}
.list li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 50px;
  font-size: 12px;
  line-height: 30px;
}
.list.dashed {
  padding-top: 10px;
}
.list.reviselineh li {
  line-height: 27px;
}
.list li::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  vertical-align: middle;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 5px 0 0px;
}
.list.reviselineh li::before {
  margin-left: 0;
}
.gchd-container h2 {
  color: #0157a1;
  font-size: 18px;
  text-align: center;
  margin: 0 0 15px ;
}
.gchd-container p {
  color: #525252;
  line-height: 27px;
  font-size: 12px;
}
.more {
  display: block;
  width: 120px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: #ffffff;
  background-color: #ee000c;
  border-radius: 8px;
  margin: 0 auto;
}
.boxs {
  box-shadow: 0px 0px 3px 1px #ccc;
}
.source-time {
  margin: 0 auto;
  height: 35px;
  text-align: center;
  position: relative;
  line-height: 35px;
}

.time {
  margin-right: 10px;
}

.wechat,
.sina {
  position: absolute;
  margin-top: 5px;
}

.wechat {
  margin-left: 10px;
}

.sina {
  margin-left: 46px;
}
