.top{
    max-width: 1400px;
}
.top .info {
    background-color: black;
    color: #fff;
}
.top .info h4{
    height: 40px;
    line-height: 40px;

    padding-left: 26px;
    max-width:1120px;
    background: url("home.png") no-repeat center left;
    overflow: hidden;
}

.top .banner{
    position: relative;
    margin: 0 auto;
    max-width: 1120px;
    background-color: #fff;
}
.top .banner h3{
    display: inline-block;
    box-sizing: border-box;
    height: 158px;
    line-height: 158px;
    font-size: 38px;
    font-weight: bolder;
    color: #2d407f;
    padding-left: 360px;
    background: url("logo.png") no-repeat center left;
}
.top .banner .form{
    position: absolute;
    right: 5%;
    top:60px;
    display: inline-block;
}
.top .banner .form .search input{
    border: none;
    outline:none;
    width: 220px;
    height: 43px;
    color: #929292;
    background-color: #f4f4f4;
}

.top .banner .form .search input::-webkit-input-placeholder{
    color: #929292;
}
.top .banner .form .search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #929292;
}
.top .banner .form .search input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #929292;
}
.top .banner .form .search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #929292;
}

.top .banner .form .search{
    border: 1px solid #f0f0f0;
    width: 252px;
    height: 45px;
    background-color: #f4f4f4;

}

.top .banner .form .search img {
    vertical-align: middle;
}

.top .banner_m img{
    display: block;
    margin: 0 auto;
}
.top .nav{
    height: 72px;
    background-color: #1b57b0;
    position: relative;
    margin-bottom: 4px;
}

.top .nav::after{
    position: absolute;
    top: 72px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(#a0a0a0,#c1c1c1);
}
.top .nav li{
    display: inline-block;
    width: 130px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: relative;
}
.top .nav li::after{
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to right,#1850a3,#3a6ebc);
}
.top .nav li:last-child::after{
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-image: none;
}
.top .nav li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.top .nav ul{
    width: 1120px;
    margin: 0 auto;
}

.top .nav h3{
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 72px;
}
.top .nav h3 span{
    display: block;
}
.top .nav h3 span p{
    height: 5px;
    width: 40px;
}
.top .nav h3 span p:nth-child(odd){
    background-color: white;
    border-radius: 2px;
}

.top .nav_m{
    display: none;
    position:absolute;
    background-color: rgba(25,85,175,.6);
    z-index: 3;
    text-align: center;
    width: 100%;
}
.top .nav_m ul li{
    line-height: 35px;
    border-bottom: 1px solid rgba(255,255,255,.6);
}

.top .nav_m li a{
    color: #fff;
}
.banner_con{   position:relative; width:100%;  overflow:hidden;}
.banner_con .btn_index{
    position:absolute;
    z-index:2;
    bottom:14px;
    right: 0;
    width:100%;
}
.banner_con .btn_index ul{
    margin: 0 auto;
    width: 100px;
}
.banner_con .btn_index ul li{ list-style:none; float:left; width:14px; height:14px; cursor:pointer; margin-left:5px; border-radius: 50%; background:url("nav_bg.png"); }
.banner_con .btn_index ul li.on{ border-radius: 50%;  background:url("nav_bg_act.png");  }
.banner_con .banner_pic_box li{ width:100%;height: 0; padding-bottom: 31%;  float: left;position: relative}
.banner_con .banner_pic_box ul::after{
    display: block;
    content: "";
    clear: both;
}
.banner_con .banner_pic_box li a img{  z-index:1; width:100%; height:100%; vertical-align: bottom; position: absolute }
.banner_con .banner_pic_box li a span{
    position:absolute;
    left: 15%;
    top: 35%;
    background-color: rgba(25,85,175,.6);
    z-index:2;
    width:315px;
    height: 120px;
    line-height:40px;
    padding: 0 14px;
    font-size: 16px;
    font-size:15px; color:#fff;
}
.banner_con .banner_pic_box li a span p{
    font-size: 24px;
}
.banner_con .prev {
    position: absolute;
    left: 10%;
    top: 40%;
    display: block;
    width: 40px;
    height: 60px;
    background: url("prev.png") no-repeat center;
    cursor: pointer;
    z-index: 2;
}
.banner_con .next {
    position: absolute;
    right: 10%;
    top: 40%;
    display: block;
    width: 40px;
    height: 60px;
    background: url("next.png") no-repeat center;
    cursor: pointer;
    z-index: 2;
}

.slideBox1{position:relative; width:100%; overflow:hidden;}
.slideBox1 ul{list-style:none; margin:0; padding:0 }
.slideBox1 li{list-style:none; margin:0; padding:0 }
.slideBox1 .hd{ position:absolute; z-index:3; bottom:14px; right:10px; }
.slideBox1 .hd ul li{ list-style:none; float:left; width:14px; height:14px; cursor:pointer; margin-left:5px; border-radius: 50%; background:#818181; }
.slideBox1 .hd ul li.on{ border-radius: 50%;  background:#1388ff;  }
.slideBox1 .bd li{ width:100%; height: 0; padding-bottom: 66.7%}
.slideBox1 .bd li a img{ position:absolute; z-index:1; width:100%; height: 100%}
.slideBox1 .bd li a span{
    position:absolute;
    bottom: 0;
    z-index:2;
    width:100%;
    height:40px;
    line-height:40px;
    color: #fff;
    background-color: rgba(129,129,129,.6);
    padding-left:14px;
}
.footer,.footer .link a{
    font-size: 18px!important;
    color: #e4e6eb;
    text-decoration: none;
}
.footer p{
    text-align: center;
    font-size: 18px;
}
.footer .link a{
    display: inline-block;
    text-indent: 50px;
}

.footer .link p:nth-child(1){
    padding: 25px 0;
}

.footer .link p:nth-child(2){
    padding: 16px 0;
}
.footer .link{
    margin: 0 auto;
    max-width: 1400px;
    height: 175px;
    background-color: #1c4583;
}
.footer .link .about{
    margin-right: 85px;
    text-indent: 25px;
    background: url("home1.png") no-repeat center left ;
}

.footer .link .contact{
    text-indent: 25px;
    background: url("home2.png") no-repeat center left ;
}

.footer .foot{
    border-top: 1px solid #275293;
    background-color: #193e76;
}
.footer .foot> p{
    margin: 0 auto;
    max-width: 1120px;
    height: 65px;
    line-height: 65px;
    background-color: #193e76;
}

.border{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #c5c5c5;
}
.content{
    margin: 10px auto;
    max-width: 1120px;
}

.content .slider{
    margin-right: 1%;
    width: 37%;
    box-sizing: border-box;
    padding: 4px;

}
.content .jsdt{
    width: 61.16%;
    height: 280px;
    box-sizing: border-box;
}
.content .tzgg{
    margin-right: 12px;
    width:415px;
    height: 245px;
    box-sizing: border-box;
}
.content .gzjb{
    margin-right: 12px;
    width:335px;
    height: 245px;
    box-sizing: border-box;
}
.content .tpjj{
    width:335px;
    height: 245px;
    box-sizing: border-box;
}

.content .xglj {
	width: 100%;
	min-height: 94px;
	box-sizing: border-box;
}

.content .list{
    margin-top: 15px;
}
.content .list h3{
    position: relative;
    font-size: 16px;
    margin: 6px 0;
    height: 45px;
    line-height: 45px;
    padding: 0 5px;
    background-color: #ececec;
}
.content .list h3 span{
    padding-left: 35px;
    background: url("ring.png") no-repeat center left;
}
.content .list:nth-child(4) h3 span,.content .list:nth-child(5) h3 span{
    background: url("all.png") no-repeat center left;
}
.content .list h3 a,.content .jsdt h3 a{
    color: #1388ff;
}

.content .list h3::before{
    content: "";
    position: absolute;
    left: 0;
    width: 146px;
    height: 7px;
    background-color: #1388ff;
}

.content .list li, .content .jsdt li{
    text-indent: 1.5em;
    color: #898989;
    height: 35px;
    line-height: 35px;
    position: relative;
    margin-right: .5em;
}
.content .list li::before,.content .jsdt li::after{
    content: "";
    position: absolute;
    top: 40%;
    left: .5em;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    background-color: #1388ff;
}

.content .jsdt h3{
    margin-top: 5px;
    height: 35px;
    line-height: 35px;
    padding: 0 5px 0 0 ;
    border-bottom: 1px solid #1388ff;
}
.content .jsdt h3 span{
    display: inline-block;
    width: 130px;
    height: 35px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #1388ff;
    position: relative;
}
.content .jsdt h3 span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 35px solid #1b57b0;
    border-right: 12px solid transparent;
}
.content .jsdt .abstract{
    margin-bottom: 50px;
}
.content .jsdt .abstract a{

    font-weight: bold;
    color: #3c8bff;
}

.content .jsdt .abstract h4{
    font-size: 13px;
    color: #282828;
    line-height: 20px;
    padding-left: 1.5em;
    text-indent: 1.5em;

}


.content .tpjj .img{
    margin:6px 4px;
    width: 325px;
    height: 180px;
    position: relative;
}

.content .tpjj .img a{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    height: 35px;
    width: 325px;
    line-height: 35px;
    background-color: rgba(0,0,0,.5);
}
.content .tpjj .img img{
    width: 325px;
    height: 180px;
}



@media only screen and (max-width: 1120px) {
    .top .nav ul{
        display: none;
    }
    .banner_con .prev{
        display: none;
    }
    .banner_con .next{
        display: none;
    }
    .content .jsdt .abstract h4{
        display: none;
    }
    .content .jsdt .abstract{
        margin-bottom: 0;
    }
    .content .jsdt{
        height: auto;
    }
    .content .list{
        width: 48%;
        margin-right: 1%;
    }
    .content .tpjj .img{
        width: 100%;
        margin: 0;
    }
    .content .tpjj,.content .tpjj .img img,.content .tpjj .img a{
        width:100%;
    }


}

@media only screen and (max-width: 980px) {
    .top .banner .form{
        display: none;
    }

    .banner_con .banner_pic_box li a span{
        top:15%;
    }
    .content .jsdt li{
        height: 30px;
        line-height: 30px;
    }
}


@media only screen and (max-width: 720px) {
    .top .banner{
        display: none;
    }
    .top .banner_m{
        display: block!important;
    }

    .banner_con .banner_pic_box li a span{
        width: auto;
        height: auto;
    }
    .banner_con .btn_index ul{
        margin-right: -5%;
    }
    .banner_con .btn_index ul li{
        width: 6px;
        height: 6px;
        background-size: 100% 100%!important;
    }
    .top .nav{
        height: 50px;
    }
    .top .nav::after{
        top:50px;
    }
    .top .nav h3{
        line-height: 50px;
    }
    .top .nav h3{
        font-size: 14px;
    }
    .content .slider{
        width: 100%;
    }
    .content .jsdt,.content .list,.content .tpjj .img{
        width: 100%;
        margin: 0;
    }
    .content .tpjj .img img,.content .tpjj .img a{
        width:100%;
    }
    .banner_con .banner_pic_box li a span p{
        display: none;
    }
    .content .jsdt li{
        height: 35px;
        line-height: 35px;
    }
    .footer .link a:nth-child(1){

    }
}


