:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
.center-block-1200 {
  width: 1200px;
  margin: 0 auto;
}
.w580 {
  width: 580px;
}
/* user style */
.logo {
  height: 137px;
  background: #004098 url(bxkjxcgw-202210-tbg.jpg) top 0 right 0 no-repeat;
  padding-top: 29px;
}
.tlogo {
  margin-right: 45px;
  margin-left: -258px;
}
.logo span {
  float: left;
  font-size: 27px;
  font-weight: bold;
  color: #ffffff;
  line-height: 76px;
}
nav {
  height: 50px;
}
.nav {
  display: table;
}
.nav-child {
  display: table-cell;
  width: 1%;
  table-layout: fixed;
  text-align: center;
  line-height: 50px;
  color: #333333;
  position: relative;
}
.nav-child > a,
.nav-child-c > a {
  display: block;
}
.nav-child > a:hover,
.nav-child.act > a {
  background: #0050a5;
  color: #ffffff;
}

.nav-child-c > a:hover {
  background: rgba(20, 71, 128, 0.9);
}
.has-nav-child {
  display: none;
  position: absolute;
  z-index: 22;
  left: 0;
  top: 50px;
  width: 198px;
  background: rgba(25, 97, 174, 0.9);
  color: #ffffff;
  text-align: left;
  text-indent: 30px;
}
.nav-child:hover .has-nav-child {
  display: block;
}
.ztbg {
  position: relative;
  height: 237px;
  padding-top: 29px;
  padding-left: 78px;
  background: rgba(255, 255, 255, 0.5) url(bxkjxcgw-202210-ztbg2.jpg) left 0 top
    0 no-repeat;
}
.ztword {
  position: absolute;
  font-size: 24px;
  color: #f9f8f6;
  left: 22px;
  top: 66px;
}
/* carousel */
.slick-mod2 {
  width: 581px;
}
.slick-mod3 {
  width: 1095px;
}
.slick-mod3 .slick-item {
  padding: 0 8px;
}
.slick-mod3 .slick-item img {
  border: 4px solid #ffffff;
}
.slick-item {
  position: relative;
}
.slick-item img {
  width: 100%;
}
.tit1 {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  color: #333333;
  line-height: 50px;
  font-weight: bold;
  text-indent: 5px;
  /* background: rgba(0, 0, 0, 0.5); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-mod .slick-dots {
  position: absolute;
  left: 0;
  right: 0px;
  bottom: 20px;
}
.slick-mod3 .slick-dots {
  position: absolute;
  left: 0;
  right: 0px;
  bottom: -16px;
}

.slick-mod .slick-arrow,
.slick-mod3 .slick-arrow {
  width: 48px;
  height: 48px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
/* .slick-mod .slick-next {
  right: 0;
  background: url(../images_zt/wlaq-202009-arrowrigh.png) no-repeat center;
}
.slick-mod .slick-prev {
  left: 0;
  background: url(../images_zt/wlaq-202009-arrowlef.png) no-repeat center;
} */

.slick-mod3 .slick-next {
  right: -18px;
  background: url(bxkjxcgw-202210-arrowright.png) no-repeat center;
}
.slick-mod3 .slick-prev {
  left: -18px;
  background: url(bxkjxcgw-202210-arrowleft.png) no-repeat center;
}
.slick-mod .slick-dots li,
.slick-mod3 .slick-dots li {
  width: 13px;
  height: 6px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0 5px 0 0;
}
.slick-mod3 .slick-dots li {
  width: 28px;
  height: 6px;
  background: #b5b5b5;
}
.slick-mod .slick-dots li.slick-active,
.slick-mod3 .slick-dots li.slick-active {
  width: 27px;
  height: 6px;
  background: #0956a6;
  border-radius: 10px;
}
.slick-mod3 .slick-dots li.slick-active {
  width: 28px;
  height: 6px;
  background: #004098;
}
/* --- */
.section1 {
  background-image: url(bxkjxcgw-202210-sbg1.jpg);
  padding-top: 20px;
  padding-bottom: 35px;
}
.chnl-title {
  background: url(bxkjxcgw-202210-chnlborder.png) left 0 bottom 0 repeat-x;
  padding-top: 18px;
  font-size: 24px;
  margin-bottom: 23px;
}
.chnl-title span {
  display: inline-block;
  color: #999999;
  width: 105px;
  text-align: center;
  padding-bottom: 14px;
}
.chnl-title span.act {
  color: #004098;
  border-bottom: 3px solid #004098;
}
.chnl-title span + span {
  margin-left: 20px;
}
.more {
  width: 68px;
  height: 24px;
  text-align: center;
  line-height: 22px;
  display: inline-block;
  font-size: 14px;
  color: #004098;
  border: 1px solid transparent;
  margin-top: 5px;
}
.more:hover {
  border: 1px solid #122652;
}
.gli {
  background: #ffffff;
  box-shadow: 0 0 7px #dddddd;
  padding: 12px 0;
}
.gli + .gli {
  margin-top: 8px;
}
.litime {
  height: 56px;
  padding: 0 27px;
  margin-left: 5px;
  border-right: 1px solid #b6b6b6;
  text-align: center;
}

.litime .dd {
  font-size: 28px;
  color: #666666;
  margin-bottom: 5px;
}
.litime .ym {
  font-size: 14px;
  color: #999999;
}
.ltitle {
  width: 430px;
  line-height: 25px;
  color: #333333;
  padding-left: 25px;
  padding-top: 4px;
}

.gli:hover {
  background: url(bxkjxcgw-202210-hovbg.jpg);
  background-size: cover;
}
.gli:hover .litime .dd,
.gli:hover .litime .ym,
.gli:hover .ltitle {
  color: #ffffff;
}
.gli:hover .litime {
  border-right: 1px solid #ffffff;
}
.list-hnews {
  margin-bottom: 20px;
}
.list-hnews img {
  margin-right: 18px;
}
.list-title {
  color: #222222;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.list-abs {
  font-size: 14px;
  color: #333333;
  line-height: 24px;
}
.list li {
  color: #222222;
  line-height: 34px;
}
.list li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 17px;
  background: url(bxkjxcgw-202210-iconli.png);
  vertical-align: middle;
  background-size: cover;
  margin-right: 10px;
}
.list-ti {
  font-size: 14px;
  color: #868585;
}
.list-con {
  display: none;
}
.list-con.act {
  display: block;
}
.img-show {
  width: 359px;
  float: left;
  margin-bottom: 40px;
}
.img-show + .img-show {
  margin-left: 60px;
}
.img-show:nth-child(3n + 1) {
  margin-left: 0;
}
.img-item-title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 18px;
}
.img-item-abs {
  font-size: 14px;
  color: #666666;
}
.img-show:hover .img-item-title,
.img-show:hover .img-item-abs {
  color: #004098;
}
.section2 {
  background: url(bxkjxcgw-202210-ztbg.jpg) center center no-repeat;
  height: 298px;
  padding-top: 30px;
}

footer {
  margin-top: 1px;
}
.footer-t {
  background: #004098;
  padding-top: 21px;
  padding-bottom: 15px;
}
.blogo {
  margin-bottom: 30px;
}
.footer-t p {
  color: #ffffff;
  line-height: 27px;
  font-size: 13px;
}
.footer-t p span {
  font-size: 15px;
  font-weight: bold;
}
.footer-b {
  background: #0a3264;
  border-top: 1px solid #1a53a3;
  font-size: 13px;
  color: #ffffff;
  padding: 25px 0;
}